/*Accessories details page*/

.rand-class-3665 .rand-class-7018 {
  font-size: 0.85em;
}

.rand-class-3665 .rand-class-4239 {
  line-height: 1.5rem;
}

.rand-class-3665 {
  padding-bottom: 0;
}

.rand-class-3665 .rand-class-3970 {
  font-size: 2.5em;
}

span.rand-class-7782,
span.rand-class-5970,
span.rand-class-7049 {
  font-size: 12px;
  font-size: 0.75rem;
  font-family: lenovo-do-bold,Arial,sans-serif;
  color: #cf2c2f;
  text-transform: uppercase;
}

.rand-class-3665 .rand-class-1070 .rand-class-9475 {
  display: none;
}

.rand-class-3665 .rand-class-9403 .rand-class-9580 {
  display: inline-block!important;
}

.rand-class-4213 {
  font-size: 11px;
}

.rand-class-1344 {
  text-align: left;
}

.rand-class-1344 li.rand-class-9377 {
  list-style-type: none;
  display: inline;
}

.rand-class-1344 li.rand-class-6818 div.rand-class-5291 {
  display: inline;
}

.rand-class-1344 li.rand-class-5091 div.rand-class-1766 a.rand-class-4045 img.rand-class-2739 {
  border: 1px solid #ccc;
  height: 60px;
  width: 60px;
  margin-right: 5px;
}

.rand-class-1344 li.rand-class-2921 div.rand-class-1105 a.rand-class-6719 img.rand-class-8383,
.rand-class-1344 li.rand-class-7792 div.rand-class-2457 a.rand-class-1980 img.rand-class-3758 {
  border: 1px solid #cf2a23;
}

.rand-class-8140 {
  background: #fff;
}

.rand-class-8005 img.rand-class-4882 {
  width: 50px;
  height: 50px;
}

.rand-class-9828 h1.rand-class-8114 {
  display: inline;
}

@media (min-width: 38em) {
  .rand-class-4740 .rand-class-7053 td:first-child.rand-class-3779 {
    width: 40%;
  }
}

@media (min-width: 45em) {
  .rand-class-3665 .rand-class-4317 .rand-class-7934 {
    width: auto;
  }
}

@media (min-width: 47em) {
  .rand-class-3665 .rand-class-5181 .rand-class-1490 {
    display: block;
  }

  .rand-class-3665 .rand-class-9403 {
    text-align: center;
  }

  .rand-class-3665 .rand-class-7018 {
    width: 33%;
  }
}

@media (min-width: 48.5em) {
  .rand-class-3665 .rand-class-7018 {
    width: 34.25%;
  }
}

@media (min-width: 56em) {
  .rand-class-3665 .rand-class-5534 {
    margin: 0;
    width: 35%;
    float: right;
  }
}