/* minimum styles for overlay (if using jQuery Tools) */

.rand-class-5354 {
  display: none;
  background: #fff;
  z-index: 200;
}

.rand-class-3564 .rand-class-1899 {
  height: 100%;
  overflow: auto;
}

.rand-class-4482 .rand-class-6327 {
  background-image: url("/SEUILibrary/hightech-portal/images/icons/black-close.png");
  position: absolute;
  right: -13px;
  top: -12px;
  cursor: pointer;
  height: 28px;
  width: 28px;
}

/* styles for demo only */

.rand-class-7675 {
  padding: 15px;
}

.rand-class-6738 .rand-class-9552 {
  margin: 0px !important;
  overflow: auto;
}

.rand-class-8097 .rand-class-2934 p.rand-class-5552 {
  text-align: left;
  background: #fff;
}

.rand-class-3290 {
  height: 50px;
  width: 50px;
  background-image: url("/SEUILibrary/hightech-portal/images/ajax-loader.gif");
  background-position: center center;
  background-repeat: no-repeat;
}

/* minimum slider styles */

#compareSlider.rand-class-1379 {
  position: fixed;
  z-index: 98;
}

#compareSlider.rand-class-5533 {
  overflow: hidden;
}

.rand-class-3473 {
  display: none;
}

#compareSlider.rand-class-2653 #sliderTab.rand-class-7632 {
  cursor: pointer;
}

#compareSlider.rand-class-8898 #sliderContent.rand-class-4887 {
  position: relative;
}

/* demo styling */

#compareSlider.rand-class-5628 {
  position: fixed;
  right: -200px;
  top: 0;
  z-index: 98;
}

#compareSlider.rand-class-6104 #sliderTab.rand-class-7423 {
  z-index: 99;
  background: #000000;
  float: left;
  height: 280px;
  width: 39px;
  background-image: url("/ISS_Static/site/compare/arrow_open.png");
  background-repeat: no-repeat;
}

#compareSlider.rand-class-7600 #sliderContent.rand-class-8525 {
  background-color: #efefef;
  border: 1px solid #cecfce;
  border-right: 0;
  float: left;
  min-height: 278px;
  max-height: 500px;
  width: 200px;
}

#compareSlider.rand-class-5533 {
  height: 300px;
}

#compareSlider.rand-class-5533 #sliderTab.rand-class-5331 {
  z-index: 99;
  float: left;
  width: 39px;
  background: #000000;
  background-image: url("/ISS_Static/site/compare/arrow_closed.png");
  background-repeat: no-repeat;
}

#compareSlider.rand-class-9402 {
  clear: both;
}

#compareSlider.rand-class-9704 #title.rand-class-2268 {
  color: #ffffff;
  display: inline-block;
  float: left;
  font-family: "LenovoDoMedium", Arial, Helvetica, sans-serif;
  font-size: 16px;
  font-weight: bold;
  margin-top: 2em;
  margin-top: 40px\9;
  left: 0px;
  letter-spacing: 0.05em;
  line-height: 1.5;
  line-height: 2.25 \9;
  position: relative;
  text-align: center;
  text-transform: uppercase;
  white-space: nowrap;
  width: 39px;
  width: 240px\9;
  writing-mode: tb-rl;
  writing-mode: lr-tb\9;
  z-index: 99;
  -webkit-transform: rotate(270deg);
  -moz-transform: rotate(270deg);
  -o-transform: rotate(270deg);
  transform: rotate(270deg);
  transform-origin: 115px 105px;
  -ms-filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=3);
}

.rand-class-7318 {
  background-image: url("/SEUILibrary/hightech-portal/images/ajax-loader.gif");
  background-position: center center;
  background-repeat: no-repeat;
}

#sliderWrapper.rand-class-1178 {
  padding: 10px;
  text-align: left;
  height: 100%;
  max-height: 400px;
  overflow: auto;
}

#sliderCount.rand-class-9830 {
  margin-left: 5px;
  margin-bottom: 5px;
}

#sliderCount.rand-class-4224 span.rand-class-8513 {
  margin-left: 1px;
}

.rand-class-6126 {
  position: relative;
  vertical-align: top;
}

.rand-class-1979 {
  display: inline-block;
  position: absolute;
  right: 10px;
  top: 0px;
  margin-top: 0px;
  left: auto;
  /* needed to overwrite legacy styles */
}

.rand-class-1469 {
  display: inline-block;
  position: relative;
  left: 5px;
  width: 145px;
  font-weight: bold;
  font-size: 0.9em;
  line-height: 18px;
}

.rand-class-9221 {
  margin-top: 10px;
  height: 9px;
  vertical-align: middle;
}

.rand-class-8342 {
  vertical-align: middle;
  height: 1px;
  width: 100%;
  background: #dedede;
}

.rand-class-1792 {
  margin-top: 0px;
  width: 100%;
  border-top: 1 px solid #dedede;
  margin-bottom: 10px;
  padding-top: 0px;
}

.rand-class-8269 {
  margin-top: 10px;
  padding-left: 20px;
}

.rand-class-5524 {
  clear: both;
  margin-top: 10px;
  padding-top: 10px;
  text-align: center;
  font-size: 0.9em;
}

.rand-class-9217 >.rand-class-9651 a.rand-class-7910 {
  padding-right: 10px;
}

.rand-class-5728 {
  width: 100%;
  background-color: #ffffff;
}

.rand-class-4881 #cmpoverlaytableheader.rand-class-2574 {
  background: #ffffff;
  z-index: 300;
}

.rand-class-2470 .rand-class-7422 {
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bold;
  font-size: 24px;
  padding-top: 0px;
  margin-top: 0px;
  padding-bottom: 10px;
}

.rand-class-1714 table.rand-class-8199 {
  border: 0px;
}

.rand-class-2588 a.rand-class-2690 {
  color: #009dd9;
  text-decoration: none;
}

.rand-class-9267 a:hover.rand-class-8449 {
  color: #009dd9;
  text-decoration: underline;
}

.rand-class-9758 .rand-class-9787 {
  width: 120px;
  margin: 0px;
  color: #000;
  background-color: #efefef;
  border-left: solid 1px #cecfce;
  border-right: solid 1px #cecfce;
  border-bottom: solid 1px #cecfce;
  font-weight: bold;
  font-size: 12px;
}

.rand-class-6774 .rand-class-8766 {
  border-right: 1px solid #cecfce;
  border-bottom: solid #cecfce 1px;
}

.rand-class-3154 .rand-class-6734 {
  border-right: 1px solid #cecfce;
  border-bottom: solid #cecfce 1px;
}

.rand-class-8076 .rand-class-3875 .rand-class-1064 {
  float: left;
  width: 225px;
}

.rand-class-4391 .rand-class-9560 {
  width: 250px;
}

.rand-class-4830 .rand-class-8481 {
  vertical-align: top;
  border-right: 1px solid #cecfce;
  border-bottom: solid #cecfce 1px;
}

.rand-class-4695 .rand-class-5182 {
  text-align: center;
  vertical-align: middle;
}

.rand-class-1429 .rand-class-5958 {
  border-top: solid 1px #cecfce;
  vertical-align: top;
}

.rand-class-2934 .rand-class-7354 {
  height: auto;
}

.rand-class-9815 .rand-class-9874 {
  text-align: right;
  min-height: 20px;
  background-color: transparent;
  padding: 0;
}

.rand-class-4700 .rand-class-7306 .rand-class-7943 {
  width: auto;
  display: inline-block;
  padding: 10px 10px 0 0;
  background-color: #ffffff;
  border-bottom: none;
}

.rand-class-1169 .rand-class-2157 {
  font-weight: bold;
  font-size: 14px;
  border-top: solid 1px #cecfce;
}

.rand-class-3204 .rand-class-1467 {
  margin: 0;
  font-weight: bold;
  text-align: left;
}

.rand-class-4520 .rand-class-6558 {
  margin: 10px 10px;
}

.rand-class-2565 .rand-class-9629 {
  font-size: 12px;
  text-transform: capitalize;
  width: 120px;
}

.rand-class-7390 .rand-class-6682 {
  font-size: 12px;
  width: 250px;
}

.rand-class-5237 .rand-class-8854 {
  background-color: #efefef;
  vertical-align: top;
}

.rand-class-8677 #LastRow.rand-class-4917 {
  border-right: 1px solid #cecfce;
  border-top: solid #cecfce 1px;
  border-bottom: solid #cecfce 1px;
  height: 30px;
}

.rand-class-6293 .rand-class-4608 {
  text-align: center;
}

.rand-class-9255 .rand-class-8000 .rand-class-2572 {
  width: 100%;
  text-align: center;
}

.rand-class-3617 .rand-class-7837 .rand-class-4294 {
  margin-top: 30px;
  clear: both;
  text-align: center;
}

.rand-class-1636 .rand-class-5173 {
  width: 200px;
  text-align: left;
  margin-left: auto;
  margin-right: auto;
}

.rand-class-7350 .rand-class-3181 .rand-class-9715 {
  padding: 10px 5px;
}

.rand-class-4346 .rand-class-1760 {
  clear: both;
}

.rand-class-8185 .rand-class-5341 {
  margin-top: 10px;
  margin-left: auto !important;
  margin-right: auto !important;
}

.rand-class-9382 .rand-class-5873 {
  clear: both;
  padding-top: 10px;
}

.rand-class-1824 .rand-class-4644 {
  clear: both;
  margin-top: 10px;
  margin-bottom: 10px;
}

.rand-class-1170 .rand-class-4514 {
  margin-top: 10px;
}

.rand-class-4562 .rand-class-5770 {
  background: none;
  clear: both;
  padding-bottom: 10px;
  position: relative;
  width: auto;
  padding-top: 3em;
}

.rand-class-8720 .rand-class-5537 a.rand-class-8822 {
  float: left;
  height: auto;
  right: 0px;
  top: 0px;
  background: none;
  width: 100%;
}

/*Bug fix for 1894 */

.rand-class-4610 .rand-class-7729 a.rand-class-5305 >.rand-class-5742 span.rand-class-7528 {
  font-size: 12px;
  padding: 5px 10px;
}

.rand-class-2817 {
  height: 20px;
  display: inline-block;
  border: solid 1px #cecfce;
  width: 70px;
  text-align: center;
  left: 299px;
}

.rand-class-8081 {
  height: 20px;
  display: inline-block;
  border: solid 1px #cecfce;
  width: 70px;
  text-align: center;
}

.rand-class-5920 {
  display: inline-block;
  border: solid 1px #cecfce;
  width: 70px;
  text-align: center;
}

.rand-class-7074 {
  display: inline-block;
}

.rand-class-6331 {
  display: inline-block;
}

.rand-class-1203 {
  display: inline-block;
  margin-bottom: 5px;
  line-height: 16px;
  height: 16px;
  vertical-align: middle;
}

.rand-class-1223 input.rand-class-8465 {
  vertical-align: middle;
}

.rand-class-2428 {
  display: none;
}

.rand-class-1116 {
  margin-top: 4px;
  display: inline-block;
  *display: inline;
  zoom: 1;
  vertical-align: top;
  width: 58px;
  line-height: 1;
  margin-left: 5px;
}

.rand-class-7548 {
  cursor: pointer;
  height: 31px;
  width: 16px;
  margin-top: 2px;
  float: left;
  background: url("/ISS_Static/WW/AG/merchandising/US/landing_pages/promos/2011/images/minListButton.jpg");
  background-repeat: no-repeat;
}

.rand-class-4967 {
  cursor: pointer;
  height: 11px;
  width: 16px;
  margin-top: 2px;
  float: left;
  background: url("/ISS_Static/WW/AG/merchandising/US/landing_pages/promos/2011/images/plusListButton.jpg");
  background-repeat: no-repeat;
}

.rand-class-1636 {
  display: none;
  height: 11px;
  width: 16px;
  margin-top: 2px;
  float: left;
  border: 1px solid red;
}

.rand-class-3210 >.rand-class-2675 a.rand-class-1159 {
  display: block;
  border: 1px solid #206485;
  color: #fff;
  background: #4fb4e3;
  background: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #4fb4e3), color-stop(100%, #01618d)), #4fb4e3;
  background: -webkit-linear-gradient(top, #4fb4e3, #01618d), #4fb4e3;
  background: -moz-linear-gradient(top, #4fb4e3, #01618d), #4fb4e3;
  background: -o-linear-gradient(top, #4fb4e3, #01618d), #4fb4e3;
  background: linear-gradient(top, #4fb4e3, #01618d), #4fb4e3;
  text-shadow: 1px 1px 1px #111111;
}

.rand-class-5450 >.rand-class-7852 a.rand-class-7322 >.rand-class-4589 span.rand-class-4565 {
  display: block;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 13px;
  font-weight: bold;
  letter-spacing: 1px;
  line-height: 14px;
  padding: 10px 10px 10px 10px;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
}

.rand-class-7940 .rand-class-2303 {
  width: auto;
}

.rand-class-1096 .rand-class-9754 {
  width: auto;
  border: none;
}

@media (max-width:60em) {
  #compareSlider.rand-class-9815,
  .rand-class-6985 {
    display: none;
  }
}