.rand-class-8141 {
  position: relative;
  width: 1180px;
  margin: 0 auto;
}

.rand-class-8329 {
  float: left;
  width: 190px;
}

.rand-class-2670 h3.rand-class-8395 {
  height: 40px;
  background: #9c3022;
  color: #fff;
  font-size: 16px;
  line-height: 40px;
  text-indent: 17px;
}

.rand-class-9822 ul.rand-class-5209 {
  border-bottom: 2px solid #9c3022;
}

.rand-class-9545 li.rand-class-5863 {
  position: relative;
  height: auto;
  min-height: 40px;
  _height: 40px;
  line-height: 40px;
  border-left: 2px solid #9c3022;
  border-right: 2px solid #9c3022;
}

.rand-class-8419 li.rand-class-1285 a:link.rand-class-1666,
.rand-class-7447 li.rand-class-2615 a:visited.rand-class-7500 {
  display: block;
  padding-left: 48px;
  color: #6d6d6d;
  font-weight: bold;
  text-decoration: none;
}

.rand-class-7161 li.rand-class-6854 a:hover.rand-class-5834 {
  text-decoration: underline;
}

.rand-class-6322 li.rand-class-1927 a.rand-class-5995 {
  background: url(/ISS_Static/WW/ap/au/en/images/merchandising/specialoffers/common/ico_laptop_off.png) no-repeat 6px 10px;
}

.rand-class-3681 li.rand-class-8598 a.rand-class-3951 {
  background: #e7e7e7 url(/ISS_Static/WW/ap/au/en/images/merchandising/specialoffers/common/ico_tablet_off.png) no-repeat 6px 10px;
}

.rand-class-4929 li.rand-class-6664 a.rand-class-8544 {
  background: #e7e7e7 url(/ISS_Static/WW/ap/au/en/images/merchandising/specialoffers/common/ico_desktop_off.png) no-repeat 6px 10px;
}

.rand-class-9133 li.rand-class-8345 a.rand-class-5892 {
  background: url(/ISS_Static/WW/ap/au/en/images/merchandising/specialoffers/common/ico_workstation_off.png) no-repeat 6px 10px;
}

.rand-class-4747 li.rand-class-6443 a.rand-class-9262 {
  background: url(/ISS_Static/WW/ap/au/en/images/merchandising/specialoffers/common/ico_server_off.png) no-repeat 6px 10px;
}

.rand-class-5606 li.rand-class-7344 a.rand-class-2361 {
  background: #e7e7e7 url(/ISS_Static/WW/ap/au/en/images/merchandising/specialoffers/common/ico_clearance_off.png) no-repeat 6px 10px;
}

.rand-class-7751 li.rand-class-4997 a.rand-class-4306 {
  background: url(/ISS_Static/WW/ap/au/en/images/merchandising/specialoffers/common/ico_student_off.png) no-repeat 6px 10px;
}

.rand-class-7890 li.rand-class-9130 a.rand-class-6194 {
  background: #dc291e url(/ISS_Static/WW/ap/au/en/images/merchandising/specialoffers/common/ico_laptop_on.png) no-repeat 6px 10px;
  color: #fff;
}

.rand-class-6200 li.rand-class-5779 a.rand-class-8072 {
  background: #dc291e url(/ISS_Static/WW/ap/au/en/images/merchandising/specialoffers/common/ico_tablet_on.png) no-repeat 6px 10px;
  color: #fff;
}

.rand-class-4079 li.rand-class-6616 a.rand-class-4758 {
  background: #dc291e url(/ISS_Static/WW/ap/au/en/images/merchandising/specialoffers/common/ico_desktop_on.png) no-repeat 6px 10px;
  color: #fff;
}

.rand-class-9395 li.rand-class-6387 a.rand-class-7012 {
  background: #dc291e url(/ISS_Static/WW/ap/au/en/images/merchandising/specialoffers/common/ico_workstation_on.png) no-repeat 6px 10px;
  color: #fff;
}

.rand-class-2645 li.rand-class-4602 a.rand-class-2603 {
  background: #dc291e url(/ISS_Static/WW/ap/au/en/images/merchandising/specialoffers/common/ico_server_on.png) no-repeat 6px 10px;
  color: #fff;
}

.rand-class-5957 li.rand-class-1963 a.rand-class-3377 {
  background: #dc291e url(/ISS_Static/WW/ap/au/en/images/merchandising/specialoffers/common/ico_clearance_on.png) no-repeat 6px 10px;
  color: #fff;
}

.rand-class-6032 li.rand-class-8630 a.rand-class-5837 {
  background: #dc291e url(/ISS_Static/WW/ap/au/en/images/merchandising/specialoffers/common/ico_student_on.png) no-repeat 6px 10px;
  color: #fff;
}

.rand-class-4495 li.rand-class-1246 .rand-class-7153 {
  display: none;
  width: 12px;
  height: 46px;
  position: absolute;
  background: url(/ISS_Static/WW/ap/au/en/images/merchandising/specialoffers/common/bg_menu_on.gif) no-repeat 0 0;
  left: -10px;
  *left: -12px;
}

.rand-class-5820 li.rand-class-9724 .rand-class-9604,
.rand-class-6615 li.rand-class-1962 .rand-class-7436,
.rand-class-6833 li.rand-class-6379 .rand-class-7630,
.rand-class-1199 li.rand-class-8969 .rand-class-2795,
.rand-class-1147 li.rand-class-6900 .rand-class-1975,
.rand-class-5857 li.rand-class-4286 .rand-class-3602,
.rand-class-5824 li.rand-class-2249 .rand-class-5957 {
  display: block;
  top: 0;
}

.rand-class-3261 li.rand-class-1342 a.rand-class-9706,
.rand-class-2145 li.rand-class-2623 a.rand-class-7384,
.rand-class-1270 li.rand-class-3758 a.rand-class-9814,
.rand-class-5929 li.rand-class-1992 a.rand-class-3097 {
  height: 40px;
  line-height: 19px;
  font-weight: bold;
}

.rand-class-9410 li.rand-class-2514 ul.rand-class-6788 {
  display: none;
  height: 0;
}

.rand-class-4322 li.rand-class-3923 ul.rand-class-7733 {
  display: block;
  height: auto;
  min-height: 54px;
  _height: 54px;
  border-bottom: 0;
}

.rand-class-4259 li.rand-class-7948 ul.rand-class-6483 li.rand-class-6580 {
  height: auto;
  min-height: 27px;
  _height: 27px;
  line-height: 27px;
  border: 0;
}

.rand-class-8412 li.rand-class-7674 ul.rand-class-4197 li.rand-class-6784 a.rand-class-7044 {
  height: auto;
  min-height: 26px;
  _height: 26px;
  padding-left: 12px;
  background: #fff;
  background-image: none;
  border-bottom: 1px solid #ccc;
  color: #009dd9;
  line-height: 26px;
  font-weight: normal;
}

.rand-class-2379 li.rand-class-4446 ul.rand-class-7054 {
  display: none;
  height: 0;
}

.rand-class-8582 li.rand-class-1072 ul.rand-class-6958 {
  display: block;
  height: auto;
  min-height: 34px;
  _height: 34px;
  border-bottom: 0;
}

.rand-class-2073 li.rand-class-3090 ul.rand-class-3369 li.rand-class-6775 {
  height: auto;
  min-height: 31px;
  _height: 31px;
  line-height: 27px;
  border: 0;
}

.rand-class-5664 li.rand-class-8110 ul.rand-class-9414 li.rand-class-1604 a.rand-class-3839 {
  height: auto;
  min-height: 30px;
  _height: 30px;
  padding-left: 12px;
  background: #fff;
  background-image: none;
  border-bottom: 1px solid #ccc;
  color: #009dd9;
  line-height: 15px;
  font-weight: normal;
}

.rand-class-7499 li.rand-class-5603 ul.rand-class-2278 {
  display: none;
  height: 0;
}

.rand-class-9850 li.rand-class-3491 ul.rand-class-4999 {
  display: block;
  height: auto;
  min-height: 54px;
  _height: 54px;
  border-bottom: 0;
}

.rand-class-8057 li.rand-class-1226 ul.rand-class-1883 li.rand-class-6291 {
  height: auto;
  min-height: 27px;
  _height: 27px;
  line-height: 27px;
  border: 0;
}

.rand-class-2192 li.rand-class-2252 ul.rand-class-1989 li.rand-class-7249 a.rand-class-7031 {
  height: auto;
  min-height: 26px;
  _height: 26px;
  padding-left: 12px;
  background: #fff;
  background-image: none;
  border-bottom: 1px solid #ccc;
  color: #009dd9;
  line-height: 26px;
  font-weight: normal;
}

.rand-class-5605 {
  float: left;
  width: 980px;
  margin-bottom: 30px;
  padding-left: 10px;
  background: url(/ISS_Static/WW/ap/au/en/images/merchandising/specialoffers/common/bg_mainContainer.gif) repeat-y 0 0;
}

.rand-class-1172 {
  width: 760px;
  margin-bottom: 5px;
}

.rand-class-3237 {
  width: 734px;
  height: 28px;
  margin-bottom: 5px;
  padding: 0 12px;
  border: 1px solid #c3c3c3;
  background: url(/ISS_Static/WW/ap/au/en/images/merchandising/specialoffers/common/bg_ecoupon.gif) repeat-x 0 0;
  color: #000;
  line-height: 28px;
}

.rand-class-1989 em.rand-class-5617 {
  color: #ff8500;
  font-style: normal;
  font-weight: bold;
}

.rand-class-5664 a:link.rand-class-2214 {
  float: right;
  padding-left: 18px;
  background: url(/ISS_Static/WW/ap/au/en/images/merchandising/specialoffers/common/ico_help.gif) no-repeat 0 8px;
  color: #009dd9;
}

.rand-class-7086 {
  width: 980px;
}

.rand-class-1968 h2.rand-class-2566 {
  clear: both;
  height: 36px;
  padding-left: 25px;
  background: url(/ISS_Static/WW/ap/au/en/images/merchandising/specialoffers/common/bg_title.gif) no-repeat 0 0;
  color: #fff;
  line-height: 29px;
  font-size: 16px;
}

.rand-class-3983 {
  clear: both;
  position: relative;
  height: 52px;
  margin-bottom: 30px;
  padding-left: 145px;
  border: 1px solid #dcd9d9;
}

.rand-class-5639 li.rand-class-7889 {
  float: left;
  width: 106px;
  height: 52px;
  margin-left: 50px;
}

.rand-class-1032 li.rand-class-5887 img.rand-class-4035 {
  margin-top: 12px;
}

.rand-class-4622 li.rand-class-8556 {
  position: absolute;
  top: -1px;
  left: -10px;
  width: 155px;
  height: 54px;
  margin: 0;
  background: url(/ISS_Static/WW/ap/au/en/images/merchandising/specialoffers/common/img_buyFromLenovo.jpg) no-repeat 0 0;
  text-indent: -99999px;
}

.rand-class-3480 li.rand-class-9270 {
  position: absolute;
  bottom: 1px;
  right: -10px;
  width: 144px;
  height: 39px;
  background: url(/ISS_Static/WW/ap/au/en/images/merchandising/specialoffers/common/bg_learnMore.gif) no-repeat 0 0;
}

.rand-class-6548 li.rand-class-2016 a.rand-class-2927 {
  display: block;
  width: 144px;
  height: 26px;
  text-indent: -9999px;
}

.rand-class-2324 {
  height: 84px!important;
  margin-left: 10px;
  padding: 5px 0;
  color: #009dd9;
  line-height: 15px;
}

.rand-class-7295 a.rand-class-5901 {
  float: left;
  height: 29px;
  padding-left: 37px;
  background: url(/ISS_Static/WW/ap/au/en/images/merchandising/specialoffers/2012/1113/ico_Xmas.png) no-repeat 0 0;
  color: #009dd9;
}

.rand-class-3655 {
  height: auto;
  min-height: 18px;
  _height: 18px;
  padding-left: 35px;
}

.rand-class-8704 li.rand-class-3891 {
  float: left;
  width: 18px;
  height: 18px;
  margin: 0 10px;
  text-indent: -9999px;
  cursor: pointer;
}

.rand-class-2552 .rand-class-4537 {
  background: url(/ISS_Static/WW/ap/au/en/images/merchandising/specialoffers/common/ico_cpu.gif) no-repeat 0 0;
}

.rand-class-7505 .rand-class-9379 {
  background: url(/ISS_Static/WW/ap/au/en/images/merchandising/specialoffers/common/ico_os.gif) no-repeat 0 0;
}

.rand-class-4391 .rand-class-4749 {
  background: url(/ISS_Static/WW/ap/au/en/images/merchandising/specialoffers/common/ico_screen.gif) no-repeat 0 0;
}

.rand-class-4827 li.rand-class-9247 .rand-class-8199,
.rand-class-9462 li.rand-class-7604 .rand-class-9263,
.rand-class-3640 li.rand-class-9714 .rand-class-4153 {
  display: none;
}

/* old buy from lenovo content */

.rand-class-4045 {
  width: 650px;
  background: #fff;
  font-family: Arial, Helvetica, sans-serif;
}

.rand-class-5752 .rand-class-3296 {
  padding: 0px 20px 10px;
  color: #444;
  text-align: left;
}

.rand-class-8276 dl.rand-class-8790 {
  margin: 15px 0;
  padding: 0;
}

.rand-class-2836 dt.rand-class-8921 {
  font-size: 16px;
  font-weight: bold;
  color: #dc291e;
}

.rand-class-1610 dt.rand-class-2175 img.rand-class-6795 {
  float: left;
  position: relative;
  top: -3px;
  left: -5px;
}

.rand-class-2759 dd.rand-class-6093 {
  font-size: 12px;
  margin: 0;
  padding: 0;
  padding-left: 24px;
}

.rand-class-6244 dd.rand-class-9929 ul.rand-class-3155 {
  margin: 8px 30px;
  padding: 0;
}

.rand-class-9905 dd.rand-class-7829 span.rand-class-7528 {
  display: block;
  padding-top: 8px;
}

#fancybox-title-outside.rand-class-4664 {
  display: none;
}

/* add Xmas accessory popup */

.rand-class-2048 {
  width: 600px;
  border: 1px solid #777578;
  background: #fff;
}

.rand-class-9760 {
  float: left;
}

.rand-class-2122 li.rand-class-9559 input.rand-class-3245 {
  float: left;
}

.rand-class-2300 {
  float: left;
}

.rand-class-9594 {
  display: none;
}

.rand-class-4711 {
  padding-bottom: 0px;
  background: #efefef;
}

.rand-class-2095 .rand-class-4851 {
  border-bottom: 1px solid #C7C7C7;
  margin: 7px 15px 0;
  overflow: hidden;
  padding: 0 0 7px;
  zoom: 1;
}

.rand-class-3650 .rand-class-5579 {
  padding: 5px;
  color: #000;
}

.rand-class-3968 .rand-class-4735 {
  float: left;
  padding-left: 5px;
  width: 490px;
}

.rand-class-6093 .rand-class-1599 li.rand-class-1170 {
  overflow: hidden;
  zoom: 1;
  margin-bottom: 5px;
}

.rand-class-1700 .rand-class-7635 .rand-class-2051 {
  float: left;
  width: 460px;
  margin: -2px 0 0 4px;
  line-height: 14px;
}

.rand-class-7160 a.rand-class-5618 {
  margin-left: 80px;
  margin-top: 10px;
}

.rand-class-5600 .rand-class-1356 {
  background: #fff;
  border-bottom: 1px solid #848484;
  vertical-align: middel;
}

.rand-class-2992 .rand-class-4494 {
  width: auto;
  padding-top: 10px;
}

*+html.rand-class-6961 .rand-class-4950 .rand-class-9248 input.rand-class-4281 {
  margin-left: -3px;
}

.rand-class-7891 .rand-class-3246 {
  display: none;
}

/* Anjean add 2012-12-19 */

.rand-class-6056 {
  clear: both;
  height: 0;
}

.rand-class-8510 img.rand-class-2057 {
  margin: 5px 1px;
}

.rand-class-8066 {
  position: absolute;
  top: -50px;
  left: 400px;
}

/* Anjean add 2013-05-30 */

.rand-class-5468 .rand-class-4288,
.rand-class-9003 .rand-class-2971,
.rand-class-4090 .rand-class-7933 {
  cursor: pointer;
}

.rand-class-9353 span.rand-class-1339,
.rand-class-4371 .rand-class-6715 {
  font-size: 12px;
}

a.rand-class-5178 {
  border: 1px solid #206485;
  color: #fff;
  background: #4fb4e3;
  background: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #4fb4e3), color-stop(100%, #01618d)), #4fb4e3;
  background: -webkit-linear-gradient(top, #4fb4e3, #01618d), #4fb4e3;
  background: -moz-linear-gradient(top, #4fb4e3, #01618d), #4fb4e3;
  background: -o-linear-gradient(top, #4fb4e3, #01618d), #4fb4e3;
  background: linear-gradient(top, #4fb4e3, #01618d), #4fb4e3;
  text-shadow: 1px 1px 1px #111111;
  display: block;
  text-align: center;
  width: 178px;
  padding: 10px;
}