/*Splitter page offcanvas right espots*/

.rand-class-4212 >.rand-class-9965 ul.rand-class-4520,
.rand-class-4706 >.rand-class-5648 ul.rand-class-9728 li.rand-class-7262 ul.rand-class-5982 {
  padding: 0;
  list-style: none;
  margin: 0;
}

.rand-class-7921 >.rand-class-3432 ul.rand-class-6449 .rand-class-2683 >.rand-class-1069 li.rand-class-9526 >.rand-class-4839 ul.rand-class-9904 .rand-class-8015 >.rand-class-3405 li.rand-class-2944 {
  margin: 0 0 0.7em 0;
}

@media (min-width: 65em) {
  .rand-class-7957 >.rand-class-2038 ul.rand-class-2612 {
    width: 12em;
    top: 400px;
    right: 1em;
    position: absolute;
    padding: 0;
    z-index: 1;
  }

  .rand-class-8820 >.rand-class-1790 ul.rand-class-9500 .rand-class-6804 li.rand-class-4654 {
    display: block;
  }

  .rand-class-1717 >.rand-class-3890 ul.rand-class-6183 li.rand-class-1111 .rand-class-7663 {
    position: static;
  }
}

.rand-class-9551 {
  font-size: 0.9rem;
  padding: 0px 20px;
  line-height: 2em;
}

.rand-class-8509 >.rand-class-5985 div.rand-class-9324 {
  background: none;
  -webkit-box-shadow: none;
  box-shadow: none;
  width: 100%;
  height: auto;
  -moz-box-shadow: none;
  line-height: 20px;
  padding: 7px 0;
}

/*CSS for non templated espots module : Can be removed later */

#eSpots.rand-class-1221 {
  float: left;
  width: 12.5em;
  margin: 0 0.7em;
}

.rand-class-3273 {
  border: 10px solid white;
  border-color: rgba(255,255,255,0.75);
  background-color: #cdd5d8;
  display: block;
  position: relative;
  width: 100%;
  line-height: 1.1;
  box-shadow: 0 0 10px rgba(0,0,0,0.4);
  margin: 7% 0;
}

.rand-class-5417 >.rand-class-4278 img.rand-class-4728,
.rand-class-1985 >.rand-class-4099 img.rand-class-5149 {
  position: absolute;
}

.rand-class-1971 img.rand-class-9672 {
  max-width: 100%;
  height: auto;
  position: absolute;
}

.rand-class-5627 .rand-class-6902 h3.rand-class-6879 {
  font-size: 1.125em;
  text-transform: uppercase;
  color: #0078a6;
}

.rand-class-4246 .rand-class-6902 {
  overflow: hidden;
  min-height: 90px;
  max-height: 386px;
  padding-right: 7px;
  background: #cdd5d8;
}

.rand-class-7095 h3.rand-class-7198 {
  margin-left: 80px;
  padding-top: 10px;
  font-size: 18px;
  font-family: lenovo-do-bold,Arial,sans-serif;
  line-height: 17px;
  text-transform: uppercase;
  color: #0078A6;
}

.rand-class-5069 .rand-class-2107 {
  margin-left: 80px;
  font-weight: bold;
  padding-top: 4px;
  color: black;
  text-transform: uppercase;
  font-size: 14px;
  line-height: 15px;
  word-wrap: break-word;
}

.rand-class-1911 .rand-class-6902 p.rand-class-3963 {
  margin: 0 0 0 80px;
  padding: 0 5px 5px 0;
  font-size: 12px;
  line-height: 1.2;
  color: #555;
}

.rand-class-5469 .rand-class-1144 {
  height: 26px;
  padding-left: 80px;
  line-height: 26px;
  font-size: 13px;
  font-weight: bold;
  letter-spacing: 1px;
  text-transform: uppercase;
  background: #08638b;
  white-space: nowrap;
  color: white;
}

.rand-class-7554 .rand-class-4951,
.rand-class-5525 .rand-class-2209 a.rand-class-8268 {
  color: #fff;
}

.rand-class-4374 p.rand-class-4075 {
  margin: 0;
  font-family: arial;
  font-size: 12px;
  color: #fff;
}

.rand-class-9622 .rand-class-4056 {
  border: 1px solid #cecece;
  height: 15px;
  margin: 5px 0 0;
  padding: 10px 0!important;
  width: 99%;
}

.rand-class-5519 .rand-class-1460 {
  margin-top: 5px;
  text-align: right;
}

.rand-class-5346 #eSpots.rand-class-3826 {
  width: 100%;
  padding: 20px 0 20px 20px;
  background: #efefef;
  margin: 0;
}

.rand-class-4510 #eSpots.rand-class-6486 .rand-class-5176 {
  float: left;
  width: 94%;
  margin: 0 0 0.8em 0;
}

.rand-class-3150 #eSpots.rand-class-2053 .rand-class-8699 {
  margin: 0;
}

@media (min-width:51em) {
  .rand-class-6838 #eSpots.rand-class-6257 .rand-class-4437 {
    width: 32%;
    margin: 0 0.8em 0 0;
  }
}