/* Overrides for JDA-injected footer */

#footer.rand-class-2326 {
  background: none;
  min-height: auto;
  position: relative;
  text-align: left;
  width: 100%;
  z-index: 1;
}

#footer.rand-class-7478 ul.rand-class-3415 {
  display: block;
  margin: 0;
}

#footer.rand-class-7347 ul.rand-class-5513 li.rand-class-9592 {
  display: list-item;
}

#footer.rand-class-7823 .rand-class-2888 ul.rand-class-7539 li.rand-class-3124 {
  display: inline-block;
}

.rand-class-4128,
.rand-class-7734 a.rand-class-3211,
.rand-class-7189 a:visited.rand-class-3078,
.rand-class-7522 a:visited.rand-class-5965,
.rand-class-5125 a.rand-class-4702,
.rand-class-6599 a:visited.rand-class-9757,
.rand-class-7144 a.rand-class-6270 {
  font: 1em/1.75 helvetica,sans-serif;
}