.rand-class-6107,
.rand-class-5522 {
  margin-top: 0;
}

.rand-class-5627 .rand-class-2540,
.rand-class-5627 .rand-class-1594 {
  font-size: 12.8px;
  font-size: 0.8rem;
  font-family: Helvetica, Arial, sans-serif;
  font-weight: 700;
  margin-bottom: .2em;
  text-transform: uppercase;
  color: #555;
  background: none;
}

.rand-class-4051 .rand-class-6426 {
  font-size: .75em;
}

.rand-class-4051 .rand-class-6426 input.rand-class-5304 {
  margin: 0;
}

.rand-class-4051 .rand-class-8640 {
  background: #b8b8b8;
}

.rand-class-4051 .rand-class-2960 {
  line-height: 0;
  padding-right: 0 !important;
  position: relative;
}

#footerSignUp.rand-class-6780 {
  color: #ffffff;
  background-color: #424242;
  background-image: none;
  position: absolute;
  top: 0;
  right: 0;
  font-size: 1.2em;
  text-transform: uppercase;
  vertical-align: top;
  width: auto;
  padding: 0.3em .05em;
  height: 2.2em;
  font-family: Helvetica, Arial, sans-serif;
  text-shadow: none;
  border-color: #000;
  font-weight: bold;
}

.rand-class-4051 .rand-class-1692 {
  width: 100%;
  font-size: 1em;
  border: 1px solid #424242;
  padding: 0 0.5em;
  -webkit-appearance: none;
  height: 2.6em;
}

.rand-class-7901,
.rand-class-2529,
.rand-class-8288,
.rand-class-7608,
.rand-class-3728,
.rand-class-8846,
.rand-class-7101,
.rand-class-1558,
.rand-class-6141,
.rand-class-1350,
.rand-class-5141,
.rand-class-7844,
.rand-class-4865,
.rand-class-4504,
.rand-class-6033,
.rand-class-4384,
.rand-class-4667 {
  background-image: url('/ISS_Static/WW/css/themes/owv3/images/footer-icons.png?v2');
  background-repeat: no-repeat;
}

.rand-class-2529 {
  background-position: -61px 0;
}

.rand-class-1295,
.rand-class-2529 {
  background-position: -61px -38px;
}

.rand-class-8288 {
  background-position: -61px -76px;
}

.rand-class-9989,
.rand-class-8288 {
  background-position: -61px -114px;
}

.rand-class-7608 {
  background-position: -61px -152px;
}

.rand-class-5442,
.rand-class-7608 {
  background-position: -61px -190px;
}

.rand-class-3728 {
  background-position: -61px -228px;
}

.rand-class-1720,
.rand-class-3728 {
  background-position: -61px -266px;
}

.rand-class-2208 {
  background-position: -62px -304px;
}

.rand-class-5425,
.rand-class-8284 {
  background-position: -62px -344px;
}

.rand-class-7101 {
  background-position: -61px -384px;
}

.rand-class-5521,
.rand-class-7101 {
  background-position: -61px -422px;
}

.rand-class-8219,
.rand-class-9265 {
  background-position: 0 -460px;
}

.rand-class-3615,
.rand-class-8694,
.rand-class-5990 {
  background-position: 0 -495px;
}

.rand-class-6141 {
  background-position: -61px -530px;
}

.rand-class-1519,
.rand-class-6141 {
  background-position: -61px -568px;
}

.rand-class-1350 {
  background-position: -61px -606px;
}

.rand-class-8348,
.rand-class-1350 {
  background-position: -61px -644px;
}

.rand-class-9068 {
  background-position: -61px -910px;
}

.rand-class-5144,
.rand-class-9640 {
  background-position: -61px -948px;
}

.rand-class-3239 {
  background-position: -61px -682px;
}

.rand-class-6906,
.rand-class-7012 {
  background-position: -61px -720px;
}

.rand-class-2565 {
  background-position: -61px -986px;
}

.rand-class-3162,
.rand-class-7478 {
  background-position: -61px -1024px;
}

.rand-class-8184 {
  background-position: -61px -1062px;
}

.rand-class-3298,
.rand-class-2108 {
  background-position: -61px -1100px;
}

.rand-class-8261 {
  background-position: -61px -834px;
}

.rand-class-3416,
.rand-class-5705 {
  background-position: -61px -872px;
}

.rand-class-9468 {
  background-position: -61px -758px;
}

.rand-class-9752,
.rand-class-3389 {
  background-position: -61px -796px;
}

.rand-class-7470,
.rand-class-9039,
.rand-class-8142,
.rand-class-7178,
.rand-class-8754,
.rand-class-7091,
.rand-class-2977 {
  background-image: url('/ISS_Static/WW/css/themes/owv3/images/footer-icons.png?v2');
  background-repeat: no-repeat;
}

.rand-class-9966 {
  background-position: 0 0;
}

.rand-class-9374,
.rand-class-2431 {
  background-position: 0 -38px;
}

.rand-class-7450 {
  background-position: 0 -76px;
}

.rand-class-5441,
.rand-class-6047 {
  background-position: 0 -114px;
}

.rand-class-6165 {
  background-position: 0 -152px;
}

.rand-class-8400,
.rand-class-7209 {
  background-position: 0 -190px;
}

.rand-class-8384 {
  background-position: 0 -228px;
}

.rand-class-4755,
.rand-class-1330 {
  background-position: 0 -266px;
}

.rand-class-7799 {
  background-position: 0 -304px;
}

.rand-class-4921,
.rand-class-4682 {
  background-position: 0 -342px;
}

.rand-class-9550 {
  background-position: 0 -380px;
}

.rand-class-9252,
.rand-class-9039 {
  background-position: 0 -418px;
}

.rand-class-9769 {
  clear: none;
  margin: 1.5em 0 0 1.5em;
}

footer.rand-class-3947 .rand-class-7189 {
  display: block;
  height: 33px;
  width: 33px;
  line-height: 0;
}

footer.rand-class-2902 .rand-class-2888 ul.rand-class-9259 {
  height: 33px;
}

.rand-class-6697 .rand-class-4051 .rand-class-5181 {
  height: 31px;
  width: 22em;
}

.rand-class-6697 .rand-class-4051 .rand-class-5207 {
  font-size: 14.4px;
  font-size: 0.9rem;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  background: transparent;
  border: 0;
  border-radius: 0;
  color: #222222;
  margin: 0;
  padding: 0.4em 3.25em 0.4em 2.5em;
  width: 25em;
  height: 31px;
  font-family: Helvetica, Arial, sans-serif;
}

.rand-class-6697 .rand-class-4051 .rand-class-5060 {
  cursor: pointer;
}

.rand-class-6697 .rand-class-4051 .rand-class-2040 option.rand-class-4643 {
  font-family: Helvetica, Arial, sans-serif;
}

div.rand-class-2059 {
  height: 1.85em;
  width: 1.85em;
  float: left;
  margin-bottom: -1.85em;
  background: url('/ISS_Static/WW/css/themes/owv3/images/Flag-Footer.png') no-repeat left center;
  overflow: hidden;
}

div.rand-class-4192 {
  background-position: 0px 0px;
}

div.rand-class-4785 {
  background-position: -31px 0px;
}

div.rand-class-9990 {
  background-position: -62px 0px;
}

div.rand-class-8508 {
  background-position: -93px 0px;
}

div.rand-class-8565 {
  background-position: -124px 0px;
}

div.rand-class-3507 {
  background-position: -155px 0px;
}

div.rand-class-2694 {
  background-position: -186px 0px;
}

div.rand-class-2015 {
  background-position: -217px 0px;
}

div.rand-class-5375 {
  background-position: -248px 0px;
}

div.rand-class-2902 {
  background-position: -279px 0px;
}

div.rand-class-8399 {
  background-position: -310px 0px;
}

div.rand-class-4169 {
  background-position: -341px 0px;
}

div.rand-class-2660 {
  background-position: 0px -31px;
}

div.rand-class-5016 {
  background-position: -31px -31px;
}

div.rand-class-7040 {
  background-position: -62px -31px;
}

div.rand-class-9917 {
  background-position: -93px -31px;
}

div.rand-class-1728 {
  background-position: -124px -31px;
}

div.rand-class-7894 {
  background-position: -155px -31px;
}

div.rand-class-7214 {
  background-position: -186px -31px;
}

div.rand-class-1451 {
  background-position: -217px -31px;
}

div.rand-class-6717 {
  background-position: -248px -31px;
}

div.rand-class-1224 {
  background-position: -279px -31px;
}

div.rand-class-3373 {
  background-position: -310px -31px;
}

div.rand-class-1816 {
  background-position: -341px -31px;
}

div.rand-class-6086 {
  background-position: 0px -62px;
}

div.rand-class-6364 {
  background-position: -31px -62px;
}

div.rand-class-2536 {
  background-position: -62px -62px;
}

div.rand-class-4961 {
  background-position: -93px -62px;
}

div.rand-class-8864 {
  background-position: -124px -62px;
}

div.rand-class-7763 {
  background-position: -155px -62px;
}

div.rand-class-9229 {
  background-position: -186px -62px;
}

div.rand-class-7224 {
  background-position: -217px -62px;
}

div.rand-class-2279 {
  background-position: -248px -62px;
}

div.rand-class-3650 {
  background-position: -279px -62px;
}

div.rand-class-3103 {
  background-position: -310px -62px;
}

div.rand-class-8297 {
  background-position: -341px -62px;
}

div.rand-class-2202 {
  background-position: 0px -93px;
}

div.rand-class-2288 {
  background-position: -31px -93px;
}

div.rand-class-2767 {
  background-position: -62px -93px;
}

div.rand-class-8220 {
  background-position: -93px -93px;
}

div.rand-class-8572 {
  background-position: -124px -93px;
}

div.rand-class-4463 {
  background-position: -155px -93px;
}

div.rand-class-6766 {
  background-position: -186px -93px;
}

div.rand-class-6800 {
  background-position: -217px -93px;
}

div.rand-class-5974 {
  background-position: -248px -93px;
}

div.rand-class-8490 {
  background-position: -279px -93px;
}

div.rand-class-9218 {
  background-position: -310px -93px;
}

div.rand-class-9678 {
  background-position: -341px -93px;
}

div.rand-class-4521 {
  background-position: 0px -124px;
}

div.rand-class-2288 {
  background-position: -31px -124px;
}

div.rand-class-9370 {
  background-position: -62px -124px;
}

div.rand-class-4568 {
  background-position: -93px -124px;
}

div.rand-class-9707 {
  background-position: -124px -124px;
}

div.rand-class-1222 {
  background-position: -155px -124px;
}

div.rand-class-1476 {
  background-position: -186px -124px;
}

div.rand-class-9606 {
  background-position: -217px -124px;
}

div.rand-class-3938 {
  background-position: -248px -124px;
}

div.rand-class-1174 {
  background-position: -279px -124px;
}

div.rand-class-9117 {
  background-position: -310px -124px;
}

div.rand-class-6032 {
  background-position: -341px -124px;
}

div.rand-class-7730 {
  background-position: 0px -155px;
}

div.rand-class-9103 {
  background-position: -31px -155px;
}

div.rand-class-5023 {
  background-position: -62px -155px;
}

div.rand-class-8582 {
  background-position: -93px -155px;
}

div.rand-class-7233 {
  background-position: -124px -155px;
}

div.rand-class-1364 {
  background-position: -155px -155px;
}

div.rand-class-7550 {
  background-position: -186px -155px;
}

div.rand-class-3031 {
  background-position: -217px -155px;
}

div.rand-class-9631 {
  background-position: -248px -155px;
}

div.rand-class-8237 {
  background-position: -279px -155px;
}

div.rand-class-6411 {
  background-position: -310px -155px;
}

div.rand-class-8117 {
  background-position: -341px -155px;
}

div.rand-class-5447 {
  background-position: 0px -186px;
}

div.rand-class-8535 {
  background-position: -31px -186px;
}

div.rand-class-4098 {
  background-position: -62px -186px;
}

div.rand-class-9902 {
  background-position: -93px -186px;
}

div.rand-class-9944 {
  background-position: -124px -186px;
}

div.rand-class-5355 {
  background-position: -155px -186px;
}

div.rand-class-2407 {
  background-position: -186px -186px;
}

div.rand-class-6010 {
  background-position: -217px -186px;
}

div.rand-class-3228 {
  background-position: -248px -186px;
}

div.rand-class-7946 {
  background-position: -279px -186px;
}

div.rand-class-8786 {
  background-position: -310px -186px;
}

div.rand-class-3744 {
  background-position: -341px -186px;
}

div.rand-class-4101 {
  background-position: 0px -217px;
}

div.rand-class-3235 {
  background-position: -31px -217px;
}

div.rand-class-3852 {
  background-position: -62px -217px;
}

div.rand-class-8086 {
  background-position: -93px -217px;
}

div.rand-class-4569 {
  background-position: -124px -217px;
}

div.rand-class-5053 {
  background-position: -155px -217px;
}

div.rand-class-5561 {
  background-position: -186px -217px;
}

div.rand-class-4265 {
  background-position: -217px -217px;
}

div.rand-class-6585 {
  background-position: -248px -217px;
}

div.rand-class-2879 {
  background-position: -279px -217px;
}

div.rand-class-1576 {
  background-position: -310px -217px;
}

div.rand-class-6852 {
  background-position: -341px -217px;
}

div.rand-class-1898 {
  background-position: 0px -248px;
}

div.rand-class-6397 {
  background-position: -31px -248px;
}

div.rand-class-9537 {
  background-position: -62px -248px;
}

div.rand-class-4248 {
  background-position: -93px -248px;
}

div.rand-class-9367 {
  background-position: -124px -248px;
}

div.rand-class-4344 {
  background-position: -155px -248px;
}

div.rand-class-1444 {
  background-position: -186px -248px;
}

div.rand-class-6180 {
  background-position: -217px -248px;
}

div.rand-class-4194 {
  background-position: -248px -248px;
}

div.rand-class-7826 {
  background-position: -279px -248px;
}

div.rand-class-5200 {
  background-position: -310px -248px;
}

div.rand-class-8336 {
  background-position: -341px -248px;
}

div.rand-class-8616 {
  background-position: 0px -279px;
}

div.rand-class-9590 {
  background-position: -31px -279px;
}

div.rand-class-6050 {
  background-position: -62px -279px;
}

div.rand-class-1279 {
  background-position: -93px -279px;
}

div.rand-class-5528 {
  background-position: -124px -279px;
}

div.rand-class-6283 {
  background-position: -155px -279px;
}

div.rand-class-1423 {
  background-position: -186px -279px;
}

div.rand-class-8836 {
  background-position: -217px -279px;
}

div.rand-class-3427 {
  background-position: -248px -279px;
}

div.rand-class-4910 {
  background-position: -279px -279px;
}

div.rand-class-1481 {
  background-position: -310px -279px;
}

div.rand-class-8804 {
  background-position: -341px -279px;
}

div.rand-class-4230 {
  background-position: 0px -310px;
}

div.rand-class-8836 {
  background-position: -31px -310px;
}

div.rand-class-6160 {
  background-position: -62px -310px;
}

div.rand-class-1753 {
  background-position: -93px -310px;
}

div.rand-class-4583 {
  background-position: -124px -310px;
}

div.rand-class-9341 {
  background-position: -155px -310px;
}

div.rand-class-3730 {
  background-position: -186px -310px;
}

div.rand-class-1289 {
  background-position: -217px -310px;
}

div.rand-class-1760 {
  background-position: -248px -310px;
}

div.rand-class-7344 {
  background-position: -279px -310px;
}

div.rand-class-1823 {
  background-position: -310px -310px;
}

div.rand-class-3201 {
  background-position: -341px -310px;
}

div.rand-class-3146 {
  background-position: 0px -341px;
}

.rand-class-5627 .rand-class-1193 {
  -moz-box-shadow: none;
  -webkit-box-shadow: none;
  box-shadow: none;
  background: #BCBCBC;
  clear: left;
  padding: 2em 1.9em 2em 2em;
  position: relative;
}

.rand-class-5627 .rand-class-1193 a:hover.rand-class-9968 {
  text-decoration: underline;
}

.rand-class-5627 .rand-class-1867 {
  font-size: 12.8px;
  font-size: 0.8rem;
  color: #414141;
  font-weight: 700;
  text-transform: uppercase;
  position: relative;
  letter-spacing: 0;
}

.rand-class-5627 .rand-class-8119 {
  cursor: pointer;
}

.rand-class-5627 .rand-class-2186,
.rand-class-5627 .rand-class-2332 {
  content: "";
  display: inline-block;
  color: #434343;
  width: 19px;
  margin-right: 0.5em;
  margin-left: -1.5em;
  font-size: 1.3em;
  top: 4px;
  height: 19px;
  background-size: 100%;
}

.rand-class-5627 .rand-class-1867 {
  background-image: url('/ISS_Static/WW/css/themes/owv3/images//minus.png?1427918492');
}

.rand-class-5627 .rand-class-1867 {
  background-image: url('/ISS_Static/WW/css/themes/owv3/images/plus.png?1427918512');
}

/*IE TARGETING */

.rand-class-2301 .rand-class-5148,
.rand-class-1291 .rand-class-5451 {
  margin-left: -1.15em;
}

.rand-class-5648 {
  margin-bottom: 1em;
}

.rand-class-5648 li.rand-class-6693 {
  line-height: 1.4;
}

.rand-class-5648 a.rand-class-4449 {
  font-size: 12.8px;
  font-size: 0.8rem;
  color: #373737;
}

.rand-class-5627 .rand-class-3047 {
  font-size: 11.2px;
  font-size: 0.7rem;
  -moz-box-shadow: none;
  -webkit-box-shadow: none;
  box-shadow: none;
  background: #BCBCBC;
  color: #373737;
  padding: 0 5% 15px 5%;
}

.rand-class-5627 .rand-class-3047 a.rand-class-3397 {
  color: #373737;
}

.rand-class-5627 .rand-class-3047 .rand-class-4281 {
  width: 100%;
  padding-top: 5px;
}

.rand-class-4281 small.rand-class-6830,
.rand-class-4281 .rand-class-8704 {
  float: left;
}

div#truste.rand-class-2383 {
  margin: -5px 0 0 0;
  padding: 0;
  float: right;
  display: none;
}

div#truste.rand-class-2383,
div#truste.rand-class-2383,
div#truste.rand-class-2383,
div#truste.rand-class-2383 {
  display: block;
}

div#truste.rand-class-2383 a.rand-class-3015 {
  display: block;
}

div#truste.rand-class-2383 .rand-class-2497 {
  width: 94px;
  height: 30px;
}

/*new style added for truste logo*/

div#truste.rand-class-2383 .rand-class-3662 {
  width: 94px;
  height: 30px;
}

div#truste.rand-class-2383 .rand-class-2934 {
  width: 32px;
  height: 35px;
}

div#truste.rand-class-2383 a.rand-class-7767,
div#truste.rand-class-2383 a:hover.rand-class-1381,
div#truste.rand-class-2383 a:visited.rand-class-4228 {
  margin-right: 0;
}

/* clears */

@media (min-width: 35em) {
  .rand-class-4051 .rand-class-4208,
  .rand-class-4051 .rand-class-9769 {
    float: left;
  }

  .rand-class-4051 .rand-class-6230 {
    float: right;
  }

  .rand-class-6697 .rand-class-8338 {
    margin: 0;
  }

  .rand-class-4051 .rand-class-2003 {
    margin-top: 0;
    float: left;
    width: 100%;
  }

  .rand-class-4051 .rand-class-9584 >.rand-class-5610 li.rand-class-9345 {
    width: 20%;
    margin-left: 5%;
    max-width: 11em;
  }

  .rand-class-4051 .rand-class-9584 >.rand-class-2748 li:first-child.rand-class-1734 {
    margin-left: 25px;
  }

  .rand-class-4051 .rand-class-6465 >.rand-class-4183 li.rand-class-8411 {
    width: 15%;
    margin-left: 5%;
  }

  .rand-class-4051 .rand-class-3180 >.rand-class-4422 li:first-child.rand-class-9707 {
    margin-left: 25px;
  }

  .rand-class-4051 .rand-class-6324 >.rand-class-3884 li.rand-class-4848 {
    width: 12%;
    margin-left: 5%;
  }

  .rand-class-4051 .rand-class-3825 >.rand-class-7636 li:first-child.rand-class-6042 {
    margin-left: 25px;
  }

  .rand-class-4051 .rand-class-5648 {
    display: inline-block;
    float: left;
    margin-top: 1.8em;
    margin-bottom: 0;
  }

  .rand-class-4051 .rand-class-5648 ul.rand-class-3461 {
    margin-left: .2em;
  }

  .rand-class-5627 .rand-class-1193 {
    padding: 2em 1.9em 2em 2em;
  }

  .rand-class-4051 .rand-class-1646 {
    position: relative;
  }

  .rand-class-5627 .rand-class-4051,
  footer.rand-class-7456,
  .rand-class-4051 .rand-class-2003 ul.rand-class-7899,
  .rand-class-4051 .rand-class-4281,
  .rand-class-4051 .rand-class-1898 {
    *zoom: 1;
  }

  .rand-class-5627 .rand-class-7203,
  footer:after.rand-class-1924,
  .rand-class-4051 .rand-class-2003 ul:after.rand-class-8345,
  .rand-class-4051 .rand-class-3231,
  .rand-class-4051 .rand-class-9693 {
    content: "";
    display: table;
    clear: both;
  }
}

@media (max-width: 35em) {
  .rand-class-4208 {
    margin-left: 1em;
    width: 90%;
  }

  .rand-class-9769,
  .rand-class-3231 {
    margin: 1em auto;
    width: 90%;
  }

  .rand-class-6107,
  .rand-class-9444 {
    margin: 0;
  }

  .rand-class-6697 .rand-class-6058 {
    width: 100%;
    margin: 0;
  }

  .rand-class-6697 .rand-class-1172 {
    width: 40em;
  }

  .rand-class-2003 {
    margin: 0;
  }

  .rand-class-5627 .rand-class-1193 {
    padding: 0;
  }

  .rand-class-1867 {
    font-size: 1.1em;
  }

  .rand-class-5648 {
    width: 100%;
    margin: 0 0 0 0;
    padding: 3% 5% 3% 9%;
    border-bottom: 1px solid #000;
  }

  .rand-class-4698 {
    border-top: 1px solid #000;
  }

  .rand-class-1580 {
    position: relative;
  }

  .rand-class-1867 {
    line-height: .9em;
    top: 3px;
    font-size: .8em;
  }

  .rand-class-1867 {
    line-height: 1em;
    top: 3px;
    font-size: .8em;
  }

  .rand-class-2720 .rand-class-5648 {
    padding-left: 11%;
  }

  .rand-class-5627 .rand-class-3047 {
    padding: 2% 5%;
    margin-top: 0;
  }

  .rand-class-1898 {
    padding-top: 1em;
  }
}

@media (max-width: 62em) and (min-width: 37em) {
  .rand-class-9769 {
    clear: left;
    margin: 1.1em 0 0 0;
  }
}

@media (max-width: 37em) and (min-width: 35em) {
  .rand-class-9769 {
    clear: left;
    margin: 1.1em 0 0 0;
  }

  .rand-class-4815 >.rand-class-7530 li.rand-class-7468,
  .rand-class-4849 >.rand-class-7688 li.rand-class-3477 {
    width: 26%;
    margin-left: 6%;
  }

  .rand-class-7805 >.rand-class-8618 li:nth-child(4).rand-class-7387,
  .rand-class-5127 >.rand-class-9663 li:first-child.rand-class-5563,
  .rand-class-7671 >.rand-class-5441 li:nth-child(4).rand-class-5161,
  .rand-class-5895 >.rand-class-2949 li:first-child.rand-class-7228 {
    margin-left: 25px;
  }

  .rand-class-3977 >.rand-class-9509 li.rand-class-5381,
  .rand-class-6015 >.rand-class-4316 li.rand-class-6454 {
    clear: left;
  }
}

@media (max-width: 20em) {
  footer.rand-class-5340 .rand-class-2888 ul.rand-class-6043 li.rand-class-4462 {
    margin-right: -2px;
  }
}

@media (max-width: 23em) {
  footer.rand-class-9383 .rand-class-2888 ul.rand-class-6891 li.rand-class-4573 {
    margin-bottom: 5px;
  }

  .rand-class-1191 {
    margin: 2.5em auto 1em auto;
  }
}

@media (max-width: 62em) and (min-width: 37.5em) {
  .rand-class-8995 {
    margin: -3.4em 0 0 0;
  }
}

@media (max-width: 45em) and (min-width: 35em) {
  .rand-class-5459 {
    float: left;
    clear: left;
    margin: .80em 0 0 0;
  }
}

@media (max-width: 25em) {
  .rand-class-6697 .rand-class-4785 {
    width: 30em;
  }

  .rand-class-5648 {
    padding-left: 11%;
  }

  .rand-class-6241 .rand-class-5648 {
    padding-left: 14%;
  }
}

@media (min-width: 50em) {
  .rand-class-1193 {
    overflow: hidden;
    *zoom: 1;
    padding: 2em 5% 2em;
  }
}

@media (min-width: 70em) {
  /* line 13, ../sass/_footer-columns.scss */

  .rand-class-2003 {
    margin-top: 0;
    float: left;
    width: 100%;
  }

  /* line 132, ../sass/_footer-columns.scss */

  .rand-class-4021 .rand-class-5648 {
    width: 24.5%;
  }
}

@media (max-width: 32em) {
  .rand-class-5648 {
    padding-left: 9%;
  }

  .rand-class-3760 .rand-class-5648 {
    padding-left: 12%;
  }
}

@media (max-width: 27em) {
  .rand-class-5648 {
    padding-left: 10%;
  }

  .rand-class-2617 .rand-class-5648 {
    padding-left: 13%;
  }
}

@media (max-width: 22em) {
  .rand-class-5648 {
    padding-left: 12%;
  }

  .rand-class-2360 .rand-class-5648 {
    padding-left: 15%;
  }
}

@media (max-width: 75em) and (min-width: 35em) {
  footer.rand-class-7873 .rand-class-8589 {
    clear: none;
  }
}

@media (max-width: 55em) and (min-width: 35em) {
  .rand-class-9584 >.rand-class-3481 li.rand-class-9745 {
    width: 40%;
    margin-left: 10%;
  }

  .rand-class-9584 >.rand-class-5340 li:nth-child(3).rand-class-6374,
  .rand-class-9584 >.rand-class-5862 li:first-child.rand-class-9321 {
    margin-left: 25px;
  }

  .rand-class-9584 >.rand-class-7752 li.rand-class-9574 {
    clear: left;
  }
}

@media (max-width: 65em) and (min-width: 50em) {
  .rand-class-8103 >.rand-class-4272 li.rand-class-3746 {
    width: 25%;
    margin-left: 5%;
  }

  .rand-class-8189 >.rand-class-5766 li:nth-child(4).rand-class-4646,
  .rand-class-3985 >.rand-class-7630 li:first-child.rand-class-2538 {
    margin-left: 25px;
  }

  .rand-class-7877 >.rand-class-6640 li.rand-class-4536 {
    clear: left;
  }
}

@media (max-width: 50em) and (min-width: 37em) {
  .rand-class-6736 >.rand-class-3175 li.rand-class-1625,
  .rand-class-1182 >.rand-class-2758 li.rand-class-7741 {
    width: 27%;
    margin-left: 5%;
  }

  .rand-class-8653 >.rand-class-7130 li:nth-child(4).rand-class-3504,
  .rand-class-5204 >.rand-class-1031 li:first-child.rand-class-4841,
  .rand-class-4944 >.rand-class-4009 li:nth-child(4).rand-class-9755,
  .rand-class-2233 >.rand-class-9362 li:first-child.rand-class-8742 {
    margin-left: 25px;
  }

  .rand-class-5752 >.rand-class-2173 li.rand-class-7747,
  .rand-class-5414 >.rand-class-6462 li.rand-class-1019 {
    clear: left;
  }
}

@media (max-width: 77em) and (min-width: 50em) {
  .rand-class-3061 >.rand-class-4020 li.rand-class-6117 {
    width: 25%;
    margin-left: 5%;
  }

  .rand-class-7245 >.rand-class-5625 li:nth-child(4).rand-class-2844,
  .rand-class-2734 >.rand-class-4529 li:first-child.rand-class-7903 {
    margin-left: 25px;
  }

  .rand-class-1247 >.rand-class-8050 li.rand-class-2330 {
    clear: left;
  }
}

@media (min-width: 76.75em) {
  .rand-class-5627 .rand-class-3047 .rand-class-4281 {
    width: 105.5em;
  }
}

@media (max-width: 23em) {
  .rand-class-4281 nav.rand-class-4531 a.rand-class-5004 {
    float: left;
  }

  .rand-class-4281 nav.rand-class-6164 a:nth-child(3).rand-class-7417 {
    clear: left;
  }
}

@media (max-width: 40em) {
  .rand-class-8704 {
    clear: left;
  }
}

@media (max-width: 55em) {
  footer.rand-class-2443 .rand-class-6107 {
    float: right;
    margin-top: -2.5em;
  }

  footer.rand-class-3713 .rand-class-6107 >.rand-class-1839 #oo_float.rand-class-8779 {
    float: right;
  }
}

.rand-class-4051 .rand-class-6426 {
  background: none !important;
}

.rand-class-4051 .rand-class-8640 {
  margin: 0;
  padding: 0 !important;
}

.rand-class-4051 .rand-class-4208 {
  width: 19em;
}

.rand-class-4051 .rand-class-6426 {
  margin-left: 0px;
}

.rand-class-4051 .rand-class-6426 h2.rand-class-6273 {
  padding: 0;
}

.rand-class-4051 .rand-class-2888 li.rand-class-1995 {
  margin-right: 2px;
}

@media (min-width: 35em) {
  .rand-class-6152 >.rand-class-4990 li:first-child.rand-class-2686 {
    margin-left: 25px;
  }
}

@media (min-width: 35em) {
  .rand-class-3523 >.rand-class-2607 li.rand-class-1992 {
    width: 20%;
    margin-left: 5%;
    max-width: 11em;
  }
}

@media (min-width: 35em) {
  .rand-class-4863 >.rand-class-1319 li:first-child.rand-class-3953 {
    margin-left: 25px;
  }
}

@media (min-width: 35em) {
  .rand-class-4467 >.rand-class-3641 li.rand-class-7768 {
    width: 20%;
    margin-left: 5%;
    max-width: 11em;
  }
}

@media (min-width: 35em) {
  .rand-class-7692 >.rand-class-1521 li:first-child.rand-class-9946 {
    margin-left: 25px;
  }
}

@media (min-width: 35em) {
  .rand-class-1612 >.rand-class-8761 li.rand-class-8995 {
    width: 20%;
    margin-left: 5%;
    max-width: 11em;
  }
}