.rand-class-4037 .rand-class-1875 {
  padding: 1.2em .3em .8em 1em !important;
}

.rand-class-7699 .rand-class-2383 {
  margin-bottom: 10px;
}

.rand-class-1698 .rand-class-2383 .rand-class-3712 {
  padding: 10px;
  background: none repeat scroll 0 0 #bbb;
}

.rand-class-8071 .rand-class-2383 *.rand-class-5697 {
  display: block;
  position: relative;
}

#email_sign_up_block.rand-class-2383 {
  position: relative;
}



#email_sign_up_block.rand-class-2383 .rand-class-2462 {
  height: 30px;
  margin-left: -15px;
  margin-bottom: -3px;
}

#email_sign_up_block.rand-class-2383 .rand-class-9173 .rand-class-6902 {
  padding: 4px 10px;
  color: #fff;
  font-family: 'LenovoDoBold', Arial, Helvetica, sans-serif;
  font-size: 16px;
  background: none repeat scroll 0 0 #dc291e;
  text-transform: uppercase;
}

#email_sign_up_block.rand-class-2383 .rand-class-3927 .rand-class-6902 .rand-class-5261 {
  background: none repeat scroll 0 0 #fff;
  color: #dc291e;
  display: inline;
  padding: 0 2px;
  text-transform: uppercase;
}



#email_sign_up_block.rand-class-2383 .rand-class-2170 .rand-class-1196 img.rand-class-7327 {
  width: 18px;
  height: 15px;
  left: -3px;
}





#email_sign_up_block.rand-class-2383 .rand-class-3424 .rand-class-4169 #email.rand-class-5274 {
  font-size: 10px;
  color: #666;
  border: 1px solid #cecfce;
  height: 15px;
  margin: 1px -4px 0 0;
  padding: 3px 0 2px 3px;
  width: 130px;
}

#email_sign_up_block.rand-class-2383 .rand-class-8147 .rand-class-5333 {
  float: right;
  margin-top: -23px;
}



#social_follow_block.rand-class-2383 .rand-class-2784 {
  background-color: transparent;
}

#social_follow_block.rand-class-2383 .rand-class-6547 {
  color: #000;
  text-transform: uppercase;
  font-weight: bold;
  margin-bottom: 5px;
}

#social_follow_block.rand-class-2383 .rand-class-9220 {
  height: 25px;
}

#social_follow_block.rand-class-2383 .rand-class-6196 .rand-class-5552 {
  height: 35px;
}

#social_follow_block.rand-class-2383 .rand-class-2185 .rand-class-6538 li.rand-class-1372 {
  float: left;
  width: 28px;
}





#social_follow_block.rand-class-2383 .rand-class-7146 >.rand-class-4824 a.rand-class-2781 {
  width: 28px;
  padding: 0px;
}

#social_follow_block.rand-class-2383 .rand-class-3480 >.rand-class-8327 a.rand-class-6722 >.rand-class-6550 span.rand-class-7402 {
  background: url(http://www.lenovo.com/images/footer/xfacebook_25x25.png.pagespeed.ic.oYlPAZ4da6.png) no-repeat center center transparent !important;
}

#social_follow_block.rand-class-2383 .rand-class-4401 >.rand-class-8129 a.rand-class-3495 >.rand-class-5284 span.rand-class-7211 {
  background: url(http://www.lenovo.com/images/footer/xtwitter_25x25.png.pagespeed.ic.X-jB7UzJzP.png) no-repeat center center transparent !important;
}

#social_follow_block.rand-class-2383 .rand-class-3140 >.rand-class-7504 a.rand-class-2998 >.rand-class-9355 span.rand-class-5338 {
  background: url(http://www.lenovo.com/images/footer/xgoogle-plus_25x25.png.pagespeed.ic.seNDCGgiTU.png) no-repeat center center transparent !important;
}

#social_follow_block.rand-class-2383 .rand-class-1199 >.rand-class-8101 a.rand-class-4501 >.rand-class-1668 span.rand-class-9777 {
  background: url(http://www.lenovo.com/images/footer/xyoutube_25x25.png.pagespeed.ic.P5oR9SXphn.png) no-repeat center center transparent !important;
}

#social_follow_block.rand-class-2383 .rand-class-4855 >.rand-class-2437 a.rand-class-1863 >.rand-class-3394 span.rand-class-6545 {
  background: url(http://www.lenovo.com/images/footer/xflickr_25x25.png.pagespeed.ic.6nJmr44T6p.png) no-repeat center center transparent !important;
}

#social_follow_block.rand-class-2383 .rand-class-4835 >.rand-class-3017 a.rand-class-1644 >.rand-class-1620 span.rand-class-8042 {
  background: url(http://www.lenovo.com/images/footer/xbig-p-button-25x25.png.pagespeed.ic.NtMCczUHqn.png) no-repeat center center transparent !important;
}

#social_follow_block.rand-class-2383 .rand-class-3670 >.rand-class-8307 a.rand-class-7906 >.rand-class-4908 span.rand-class-8975 {
  background: url(http://www.lenovo.com/images/footer/xlenovoforums_25x25.png.pagespeed.ic.orJOII0JUo.png) no-repeat center center transparent !important;
}

#truste.rand-class-2383 {
  padding-top: 5em;
}

.rand-class-3806 {
  cursor: pointer;
  margin: 0;
  padding: 0;
  height: 23px;
  width: 65px;
  background: red;
  border: 1px solid #a7a7a7;
  color: #555;
  background: #dfdfdf;
  background: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #efefef), color-stop(100%, #cecfce)), #dfdfdf;
  background: -webkit-linear-gradient(#efefef, #cecfce), #dfdfdf;
  background: -moz-linear-gradient(#efefef, #cecfce), #dfdfdf;
  background: -o-linear-gradient(#efefef, #cecfce), #dfdfdf;
  background: linear-gradient(#efefef, #cecfce), #dfdfdf;
  text-shadow: 1px 1px 1px white;
  padding: 3px;
  font-size: 9px;
}