/* Galleria LenovoRWD Theme (2013-Oct-10 - JRL) */

#galleria-loader.rand-class-8209 {
  height: 1px !important;
}

.rand-class-3668 {
  background: transparent;
  overflow: hidden;
  position: relative;
}

.rand-class-8596 img.rand-class-9057 {
  -moz-user-select: none;
  -webkit-user-select: none;
  -o-user-select: none;
}

.rand-class-2367,
.rand-class-3690 {
  display: none !important;
}

.rand-class-2273 {
  border: 0;
  bottom: 75px;
  left: 0;
  overflow: hidden;
  position: absolute;
  right: 0;
  top: 0;
  z-index: 0;
}

.rand-class-6754 .rand-class-4818 {
  background-color: #000;
  background-color: rgba(0, 0, 0, 0.6);
  width: 20px;
  height: 20px;
  position: absolute;
  top: 10px;
  right: 10px;
  z-index: 2;
  display: none;
  background-image: url("/ISS_Static/WW/site/scripts/galleria/themes/lenovopowered/classic-loader.gif");
  background-position: 2px 2px;
  background-repeat: no-repeat;
}

.rand-class-7348 .rand-class-9766 {
  height: 36px;
  left: 0;
  margin-top: -18px;
  position: absolute;
  top: 50%;
  width: 100%;
}

.rand-class-2943 .rand-class-2169 .rand-class-5046 {
  background-color: transparent;
  cursor: pointer;
  height: 43px;
  left: 20px;
  position: absolute;
  width: 43px;
  z-index: 99;
  background-image: url("//www.lenovo.com/images/icons/arrows/left-arrow-dark-43x43.png");
  background-position: 0 0;
  background-repeat: no-repeat;
}

.rand-class-4804 .rand-class-1102 .rand-class-5738 {
  background-color: transparent;
  cursor: pointer;
  height: 43px;
  right: 20px;
  position: absolute;
  width: 43px;
  z-index: 99;
  background-image: url("//www.lenovo.com/images/icons/arrows/right-arrow-dark-43x43.png");
  background-position: 0 0;
  background-repeat: no-repeat;
}

.rand-class-6546 {
  bottom: 0;
  height: 80px;
  left: 0;
  margin: 0;
  position: absolute;
  right: 0;
  z-index: 2;
}

.rand-class-3812 .rand-class-6834 {
  border: 1px solid #fff;
  bottom: 2px;
  cursor: pointer;
  display: none;
  left: 0;
  position: absolute;
  top: 9px;
  width: 20px;
  background: #cccccc;
  background: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #eeeeee), color-stop(100%, #cccccc)), #cccccc;
  background: -webkit-linear-gradient(top, #eeeeee, #cccccc), #cccccc;
  background: -moz-linear-gradient(top, #eeeeee, #cccccc), #cccccc;
  background: -o-linear-gradient(top, #eeeeee, #cccccc), #cccccc;
  background: -ms-linear-gradient(top, #eeeeee, #cccccc), #cccccc;
  background: linear-gradient(top, #eeeeee, #cccccc), #cccccc;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#eeeeee', endColorstr='#cccccc',GradientType=0);
}

.rand-class-1227 .rand-class-3985 >.rand-class-3610 span.rand-class-6866 {
  background-color: transparent;
  display: block;
  height: 100%;
  overflow: hidden;
  width: 100%;
  background-image: url("/ISS_Static/WW/site/scripts/galleria/themes/lenovopowered/thumb_nav_arrows.png");
  background-position: -3px center;
  background-repeat: no-repeat;
}

.rand-class-1248 .rand-class-9858 {
  border: 1px solid #fff;
  bottom: 2px;
  cursor: pointer;
  display: none;
  position: absolute;
  right: 0;
  top: 9px;
  width: 20px;
  background: #cccccc;
  background: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #eeeeee), color-stop(100%, #cccccc)), #cccccc;
  background: -webkit-linear-gradient(top, #eeeeee, #cccccc), #cccccc;
  background: -moz-linear-gradient(top, #eeeeee, #cccccc), #cccccc;
  background: -o-linear-gradient(top, #eeeeee, #cccccc), #cccccc;
  background: -ms-linear-gradient(top, #eeeeee, #cccccc), #cccccc;
  background: linear-gradient(top, #eeeeee, #cccccc), #cccccc;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#eeeeee', endColorstr='#cccccc',GradientType=0);
}

.rand-class-9524 .rand-class-7755 >.rand-class-3846 span.rand-class-2769 {
  background-color: transparent;
  display: block;
  height: 100%;
  overflow: hidden;
  width: 100%;
  background-image: url("/ISS_Static/WW/site/scripts/galleria/themes/lenovopowered/thumb_nav_arrows.png");
  background-position: -26px center;
  background-repeat: no-repeat;
}

.rand-class-9556 .rand-class-4093 {
  cursor: default !important;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha"(Opacity=50);
  filter: alpha(opacity=50);
  -moz-opacity: 0.5;
  opacity: 0.5;
}

.rand-class-7933 .rand-class-4495 >.rand-class-7450 span.rand-class-4440 {
  background-color: transparent !important;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha"(Opacity=50);
  filter: alpha(opacity=50);
  -moz-opacity: 0.5;
  opacity: 0.5;
}

.rand-class-3342 .rand-class-5810 {
  height: 100%;
  background-color: transparent;
}

.rand-class-9656 .rand-class-6625 {
  margin: 0 22px 0 23px;
}

.rand-class-2938 .rand-class-3736,
.rand-class-3569 .rand-class-7556 {
  display: block;
}

.rand-class-1509 .rand-class-5290 {
  cursor: pointer;
  height: 80px;
  float: left;
  position: relative;
  text-align: center;
  width: 122px;
}

.rand-class-1740 .rand-class-9190 >.rand-class-4325 span.rand-class-4460 {
  background: #fff;
  border: 1px solid #a7a7a7;
  display: block;
  height: 67px;
  margin: 10px 2px 2px 2px;
  overflow: hidden;
  position: relative;
  width: 117px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

.rand-class-1068 .rand-class-8082 >.rand-class-9897 span.rand-class-3635 >.rand-class-4891 img.rand-class-5055 {
  height: 65px !important;
  left: 0 !important;
  top: 0 !important;
  width: 115px !important;
  z-index: 0;
}

.rand-class-9383 .rand-class-5777 >.rand-class-3941 span.rand-class-5835 >.rand-class-3962 img.rand-class-5451 {
  height: 31px !important;
  left: 50% !important;
  margin-left: -16px !important;
  margin-top: -16px !important;
  position: absolute !important;
  top: 50% !important;
  width: 31px !important;
  z-index: 1;
}

.rand-class-5409 .rand-class-6135 {
  background-color: transparent;
  cursor: default !important;
  background-image: url("//www.lenovo.com/images/OneWebImages/Common/thumb-selector.png");
  background-position: 0 0;
  background-repeat: no-repeat;
}

.rand-class-5699 .rand-class-1173,
.rand-class-7044 .rand-class-1074 {
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha"(Opacity=100);
  filter: alpha(opacity=100);
  -moz-opacity: 1;
  opacity: 1;
}

.rand-class-3837 .rand-class-7611,
.rand-class-5294 .rand-class-2850 {
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha"(Opacity=100);
  filter: alpha(opacity=100);
  -moz-opacity: 1;
  opacity: 1;
}

.rand-class-5808 .rand-class-1137 .rand-class-7565 {
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha"(Opacity=50);
  filter: alpha(opacity=50);
  -moz-opacity: 0.5;
  opacity: 0.5;
}

.rand-class-1030 .rand-class-9375 .rand-class-8218 >.rand-class-8877 span.rand-class-4455 {
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha"(Opacity=50);
  filter: alpha(opacity=50);
  -moz-opacity: 0.5;
  opacity: 0.5;
}

.rand-class-5884 .rand-class-8162,
.rand-class-5943 .rand-class-5871 {
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha"(Opacity=100);
  filter: alpha(opacity=100);
  -moz-opacity: 1;
  opacity: 1;
}

.rand-class-5555 .rand-class-7545,
.rand-class-5095 .rand-class-7514 {
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha"(Opacity=100);
  filter: alpha(opacity=100);
  -moz-opacity: 1;
  opacity: 1;
}

.rand-class-1182 .rand-class-4140 {
  float: left;
  height: 65px;
  margin: 5px;
  overflow: hidden;
  width: 115px;
}

.rand-class-9455 .rand-class-4122 img.rand-class-2270 {
  border: 0;
  height: 65px;
  width: 115px;
}

/*To fix the cutt off for first image in gallery*/

.rand-class-3365 {
  background-size: 100% !important;
}

.rand-class-7648 {
  height: 100%;
}