#wishlistOverlay.rand-class-1723 {
  width: 700px;
  height: 480px;
  display: none;
}

#view-wishlist.rand-class-3871 #itemadded.rand-class-8472 {
  margin-left: 10px;
  width: 680px;
  padding-top: 10px;
}

#myaccount.rand-class-9020 .rand-class-8163 {
  width: 194px;
  margin: 10px 0 0;
  padding: 10px;
}

#myaccount.rand-class-3320 .rand-class-1053 >.rand-class-2384 img.rand-class-6964 {
  position: absolute;
  width: 70px;
  height: 116px;
}

#myaccount.rand-class-7223 .rand-class-3265 {
  display: inline;
  float: left;
  position: relative;
  margin-left: 10px;
  margin-right: 10px;
}

span#crumb2.rand-class-3089 {
  display: none;
}

#mastheadPageTitle.rand-class-7167 {
  display: none;
}

#myaccount.rand-class-1031 {
  width: 700px;
  position: relative;
  margin: 0px auto;
  text-align: left;
}

#myaccount.rand-class-8672 #login.rand-class-5906 #container-left.rand-class-1384 {
  width: 690px;
  float: left;
  border-bottom: thin solid #cecfce;
  border-left: thin solid #cecfce;
  border-right: thin solid #cecfce;
  border-top: thin solid #cecfce;
  position: relative;
  margin-bottom: 16px;
}

#myaccount.rand-class-7008 #login.rand-class-6953 #container-left.rand-class-6809 .rand-class-3463 {
  height: 40px;
  width: 690px;
  background-color: #efefef;
  border-bottom: thin solid #cecfce;
  border-right: thin solid #cecfce;
}

#myaccount.rand-class-1198 #login.rand-class-8255 #container-left.rand-class-2617 #SignInTitle.rand-class-4285 {
  background: transparent;
  color: #555555;
  font-weight: bold;
  font-size: 14px;
  margin: 0 0 0 10px;
  padding: 10px 0 0 0;
  position: relative;
  top: -5px;
  text-transform: uppercase;
}

#myaccount.rand-class-2207 #login.rand-class-5236 #container-left.rand-class-4740 #CreateAcctTitle.rand-class-9193 {
  background: transparent;
  color: #555555;
  font-size: 14px;
  font-weight: bold;
  padding: 5px 0 5px 0;
  text-transform: uppercase;
}

#myaccount.rand-class-5294 #systemErrorMsgTable.rand-class-9346 {
  color: #dc291e;
}

#myaccount.rand-class-9683 #login.rand-class-7448 #container-left.rand-class-1444 #signInElement.rand-class-5682 {
  margin: 10px 50px 15px 10px;
  float: left;
  width: 270px;
}

#myaccount.rand-class-3279 #login.rand-class-9232 #container-left.rand-class-5486 #signInElement.rand-class-5409 #SignInIntro.rand-class-1424 {
  padding: 14px 0px 0px 0px;
}

#myaccount.rand-class-9961 #login.rand-class-4197 #container-left.rand-class-4424 #signInElement.rand-class-2462 #SignInFields.rand-class-6873 #SignInUserName.rand-class-1649 {
  padding: 15px 0px 0px 0px;
}

#myaccount.rand-class-5820 #login.rand-class-6322 #container-left.rand-class-6938 #signInElement.rand-class-8829 #SignInFields.rand-class-9511 #SignInUserName.rand-class-6040 input.rand-class-3325 {
  width: 230px;
  margin-top: 3px;
}

#myaccount.rand-class-5046 #login.rand-class-2203 #container-left.rand-class-8797 #signInElement.rand-class-7744 #SignInFields.rand-class-1253 #SignInPassWord.rand-class-3517 {
  padding-top: 10px;
}

#myaccount.rand-class-2049 #login.rand-class-7394 #container-left.rand-class-4191 #signInElement.rand-class-3758 #SignInFields.rand-class-8617 #SignInPassWord.rand-class-3309 input.rand-class-4106 {
  width: 230px;
  margin-top: 3px;
}

#myaccount.rand-class-7676 #login.rand-class-8185 #container-left.rand-class-7307 #signInElement.rand-class-4340 #SignInFields.rand-class-5141 #SignInButton.rand-class-8594 {
  float: left;
  padding: 10px 40px 0px 0px;
}

#myaccount.rand-class-3986 #login.rand-class-7229 #container-left.rand-class-5801 #signInElement.rand-class-9530 #SignInFields.rand-class-9546 #SignInResetPassWord.rand-class-9015 {
  float: left;
  clear: both;
  padding: 10px 40px 0px 0px;
}

#myaccount.rand-class-8485 #login.rand-class-7242 #container-left.rand-class-7948 #signInElement.rand-class-9233 #SignInFields.rand-class-2992 #SignInRememberMe.rand-class-4215 {
  float: left;
  padding: 0px 0px 0px 0px;
  position: relative;
  top: 13px;
}

.rand-class-5965 {
  font-family: verdana,arial,sans-serif;
  font-size: 11px;
}

#myaccount.rand-class-8517 #login.rand-class-6110 #container-left.rand-class-2068 #CreateAcctElement.rand-class-8552 {
  float: right;
  width: 280px;
  margin-right: 10px;
}

#myaccount.rand-class-1107 #login.rand-class-3924 #container-left.rand-class-5976 #CreateAcctElement.rand-class-6074 #CreateAcctIntro.rand-class-1903 {
  padding: 9px 0px 0px 0px;
}

#myaccount.rand-class-3510 #login.rand-class-9235 #container-left.rand-class-3787 #CreateAcctElement.rand-class-4941 #CreateAcctButton.rand-class-2019 {
  float: left;
  clear: both;
  padding-top: 10px;
}

#myaccount.rand-class-9283 #login.rand-class-3357 #container-left.rand-class-9112 .rand-class-1185 {
  font-family: verdana,arial,sans-serif;
  font-size: 11px;
}

#myaccount.rand-class-8241 #login.rand-class-6252 #container-left.rand-class-5919 #CreateAcctElement.rand-class-4787 .rand-class-8973 {
  background: transparent;
  box-shadow: none;
}

#myaccount.rand-class-2253 #systemErrorMsgTable.rand-class-9965 {
  display: none;
}

#itemalreadyonwishlist.rand-class-2692 {
  margin-top: 10px;
  margin-bottom: 10px;
  font-weight: bold;
}

#myaccount.rand-class-1631 #login.rand-class-8239 #container-left.rand-class-7246 #CreateAcctPromo.rand-class-4819 {
  padding-top: 10px;
}

#myaccount.rand-class-6849 #login.rand-class-2601 #container-left.rand-class-2164 #CreateAcctPromo.rand-class-7805 strong.rand-class-1503 {
  margin-left: 80px;
}

#myaccount.rand-class-1421 #headerimagetext.rand-class-1725 {
  font-weight: bold;
  float: right;
  display: inline-block;
  text-align: center;
  width: 250px;
  margin-top: 20px;
  font-size: 24px;
  text-transform: uppercase;
  color: #dc291e;
}

/* #fancybox-content { border-top-width:0px !important; } */

#fancybox-content.rand-class-6050 {
  border-top-width: 0px !important;
  width: 46em !important;
  background: #fff !important;
}

#fancybox-content.rand-class-8393 div.rand-class-4357 {
  text-align: left !important;
}

#fancybox-close.rand-class-5776 {
  right: -55px !important;
}

/* changes by Lara */

#myaccount.rand-class-8137 #login.rand-class-5741 #container-left.rand-class-3872 #CreateAcctTitle.rand-class-1542 {
  color: #555555;
  font-size: 14px;
  font-weight: bold;
  margin: -22px 0 0 370px;
  /* 330px */
  width: 270px;
  /* 330px */
  padding: 0 0 0 0;
  text-transform: uppercase;
}

#CreateAcctElement.rand-class-2782 {
  position: relative;
  left: -30px;
}

#CreateAcctIntro.rand-class-5197 {
  position: relative;
  top: 16px;
  font-family: verdana,arial,sans-serif;
  font-size: 11px;
}

#CreateAcctButton.rand-class-6965 {
  position: relative;
  top: 15px;
}