.rand-class-7870 a.rand-class-6150 {
  display: none;
}

.rand-class-9312 {
  width: 100%;
  text-align: center;
}

@media (min-width: 55em) {
  .rand-class-2300 {
    width: 33.333%;
  }

  .rand-class-7283 .rand-class-7074 {
    width: 25%;
  }
}

/*.nestedMenu .actionArrow-hasChildren >.arrow, .productList .actionArrow-hasChildren >.arrow, .generalList .actionArrow-hasChildren >.arrow {color: #cf2a23;}*/

/*Fix for distorted tabs in subseries page, should be moved to mq.css later*/

.rand-class-6772 span.rand-class-4120 {
  display: inline-block;
}

/*Overwrite hover styles in touch based browsers*/

html.rand-class-7917 .rand-class-1264 {
  color: #009dd9;
}

/*To show and hide offers link*/

.rand-class-6769 {
  display: none;
}

.rand-class-4757 {
  display: block;
}

@media (min-width: 65em) {
  .rand-class-4757 {
    display: none;
  }
}

.rand-class-6037 .rand-class-8056 {
  filter: none;
}

.rand-class-8336 {
  display: none;
}

@media (min-width: 32em) {
  .rand-class-7958 {
    display: block;
    width: 50px;
    height: 35px;
  }

  /*FP2150*/

  .rand-class-5974 a.rand-class-3080 {
    display: block;
  }
}

.rand-class-2832 {
  margin-left: 1em;
}

.rand-class-6115 {
  font-size: 0.8rem;
  padding: 0em 1.5em 1.5em 3em;
}

/* intel/microsoft compliance fixes */

@media (max-width:66em) and (min-width:65em) {
  /* position on right and show promo logo when offers link is hidden */

  #splitterPage.rand-class-2560 .rand-class-9056,
  #brandPage.rand-class-1632 .rand-class-9056 {
    display: block;
    margin-right: 0.5em;
    margin-top: -4.5em;
  }

  #splitterPage.rand-class-1012 .rand-class-9056 .rand-class-1390,
  #splitterPage.rand-class-5267 .rand-class-9056 .rand-class-3285,
  #brandPage.rand-class-5447 .rand-class-9056 .rand-class-2820,
  #brandPage.rand-class-1688 .rand-class-9056 .rand-class-3285 {
    display: none;
  }
}

@media (max-width:65em) and (min-width:60em) {
  /* position on left and show promo logos when narrow results link is hidden and right offers link is visible */

  #splitterPage.rand-class-8947 .rand-class-9056,
  #brandPage.rand-class-8022 .rand-class-9056 {
    display: block;
    float: left;
    margin-left: 0.5em;
    margin-top: -4.5em;
  }

  #splitterPage.rand-class-2491 .rand-class-9056 .rand-class-2341,
  #splitterPage.rand-class-2025 .rand-class-9056 .rand-class-3285,
  #brandPage.rand-class-8113 .rand-class-9056 .rand-class-1057,
  #brandPage.rand-class-1136 .rand-class-9056 .rand-class-3285 {
    display: none;
  }
}

@media (min-width:66em) {
  /* position on right and show both logos when breadcrumbs visible */

  #splitterPage.rand-class-2243 .rand-class-9056,
  #brandPage.rand-class-5245 .rand-class-9056 {
    display: block;
    margin-right: 0.5em;
    margin-top: -1em;
  }

  #splitterPage.rand-class-3459 .rand-class-9056 .rand-class-5959,
  #splitterPage.rand-class-8637 .rand-class-9056 .rand-class-3285,
  #brandPage.rand-class-1409 .rand-class-9056 .rand-class-6996,
  #brandPage.rand-class-3833 .rand-class-9056 .rand-class-3285 {
    display: block;
  }
}

@media (max-width:51em) {
  /* hide espot when mashead goes off*/

  li.rand-class-7714 {
    display: none;
  }
}

/*Contact us styles*/

.rand-class-2432 .rand-class-7517 {
  padding: 1rem;
}

.rand-class-4349 {
  padding: 0 1rem;
}

.rand-class-8229 .rand-class-4781 {
  clear: both;
  margin-bottom: 10px;
}

@media (min-width:65em) {
  .rand-class-2096 {
    min-width: 9.5em;
  }
}

/*sidebar Nav styles*/

.rand-class-2977 {
  background-color: white;
}

.rand-class-9267,
.rand-class-4813 {
  position: relative;
}

.rand-class-6198 {
  font-size: 15.2px;
  font-size: 0.95rem;
  color: #555;
  font-weight: bold;
  text-indent: -.175em;
  display: inline;
}

.rand-class-1103 {
  border-left: 1px solid #ccc;
}

.rand-class-1339 {
  padding: 9px 14px 7.2px 19px;
  padding: 0.5625rem 0.875rem 0.45rem 1.1875rem;
  color: #ccc;
  position: absolute;
  top: 0;
  right: 0;
  display: block;
}

.rand-class-3021 {
  margin-top: 12px;
  margin-top: 0.75rem;
  border: none;
  padding-top: 0;
}

.rand-class-4954 {
  padding: 8px 0px 8px 0px;
  padding: 0.5rem 0rem 0.5rem 0rem;
  margin: 0px 12px 12px 12px;
  margin: 0rem 0.75rem 0.75rem 0.75rem;
  font-size: 14.4px;
  font-size: 0.9rem;
  border-top: 1px dashed #ccc;
  list-style-type: none;
  font-weight: bold;
}

.rand-class-6094 {
  margin-left: 5.6px;
  margin-left: 0.35rem;
  padding: 0;
  font-weight: normal;
  list-style-type: none;
}

/*Mega menu breakpoints for 4 columns*/

@media (min-width: 53em) {
  .rand-class-6472 .rand-class-6381 {
    width: 10em;
  }
}

@media (min-width: 57em) {
  .rand-class-6345 .rand-class-7753 {
    width: 12em;
  }
}

@media (min-width: 64em) {
  .rand-class-8372 .rand-class-2685 {
    width: 13em;
  }
}

@media (min-width: 74em) {
  .rand-class-5807 .rand-class-2659 {
    width: 16em;
  }
}

/** To Highlight the Where to Buy link **/

.rand-class-3969 .rand-class-1183,
.rand-class-3467 .rand-class-4083 {
  display: none;
}

.rand-class-5109 .rand-class-6074 a.rand-class-6333 {
  background: #4fb4e3!important;
  background: -webkit-gradient(linear,50% 0,50%,100%,color-stop(0%,#4fb4e3),color-stop(100%,#01618d)),#4fb4e3!important;
  background: -webkit-linear-gradient(top,#4fb4e3,#01618d),#4fb4e3!important;
}

@media (min-width:56em) {
  .rand-class-2304 .rand-class-8426,
  .rand-class-2074 .rand-class-6026 {
    display: block;
  }
}

/** Non link items rendering */

.rand-class-7313 .rand-class-9903 {
  color: #292929;
  cursor: pointer;
}

@media (min-width:56em) {
  .rand-class-6097 .rand-class-5183 {
    cursor: default;
  }
}

/* Sales Tag */

.rand-class-7957,
.rand-class-1158,
.rand-class-9166,
.rand-class-6785 {
  font-weight: bold;
}

/*Splitter column brand title links*/

.rand-class-4370 .rand-class-3805 a.rand-class-1904 {
  color: #000;
}

@media (min-width: 55em) {
  .rand-class-4370 .rand-class-2179 a.rand-class-6282 {
    color: #fff;
  }

  .rand-class-4370 .rand-class-7415 a.rand-class-7145 {
    pointer-events: auto;
  }
}

/*Tab Model Control*/

.rand-class-9060 button[disabled="disabled"].rand-class-5252 {
  display: none;
}

/*Adjust the alignment of button arrow*/

.rand-class-8681 {
  line-height: 3em;
}

/*Adjust splitter title text - bug# 948*/

@media (min-width: 55em) {
  .rand-class-7524 {
    font-size: 25px;
    font-size: 1.7rem!important;
  }
}

/* Fixed Bug 973 */

.rand-class-5057 {
  white-space: nowrap;
}

/*Fix for Bug 974*/

.rand-class-1802,
.rand-class-1268 {
  width: 50%;
}

/*FP1870*/

.rand-class-2365,
.rand-class-6769 {
  top: auto;
  bottom: 8px;
  bottom: 0.5rem;
}

.rand-class-9977 {
  font-weight: bold;
  font-size: 0.9em;
  line-height: 1.1;
  padding-bottom: 8px;
  padding-bottom: 0.5rem;
}

.rand-class-7776 a.rand-class-4661 {
  color: #009DD9;
}

.rand-class-3796 {
  padding: 16px;
  padding: 1rem;
}

@media (max-width: 65em) {
  .rand-class-9728 {
    display: block;
    display: block;
    float: none;
    left: 0;
    top: 0;
  }
}

@media (min-width: 60em) {
  .rand-class-6769 {
    top: 16px;
    top: 1rem;
    bottom: auto;
  }
}

@media (min-width: 66em) {
  .rand-class-3796 {
    padding: 0.7em 0 0.9em;
    padding-left: 0;
  }
}

/*Fix for Bug 983*/

.rand-class-3047 a.rand-class-9673,
.rand-class-3047 a:hover.rand-class-1405,
.rand-class-3047 a:visited.rand-class-7860 {
  margin-right: 1em;
}

/*Fix for Bug 991*/

.rand-class-7481 .rand-class-1969 h3.rand-class-2268 {
  clear: both;
}

/*Fix for FP1919*/

.rand-class-9267 .rand-class-2089 {
  width: 134px;
  line-height: 1.1;
  display: inline-table;
  margin-top: -3px;
}

.rand-class-9267 a.rand-class-2481 {
  padding-top: 15px;
}

.rand-class-9596 {
  padding-left: 25px;
}

/*Styles for Product menu change FP1868*/

.rand-class-4884 >li.rand-class-7511,
.rand-class-8107 .rand-class-3901 >li.rand-class-8058 {
  display: inline;
}

.rand-class-4471 li.rand-class-5185 .rand-class-3561 .rand-class-5124,
.rand-class-7168 li.rand-class-1758 .rand-class-2983 .rand-class-9809,
.rand-class-3679 li.rand-class-6504 .rand-class-9059 .rand-class-4365,
.rand-class-6611 .rand-class-5959 .rand-class-7292,
.rand-class-7545 .rand-class-6389 .rand-class-9322,
.rand-class-3735 .rand-class-7914 .rand-class-3429 {
  content: none!important;
}

@media (min-width: 51em) {
  .rand-class-6429 .rand-class-8891,
  .rand-class-2067 .rand-class-5923,
  .rand-class-2591 .rand-class-6279,
  .rand-class-3901 .rand-class-5269 .rand-class-4426,
  .rand-class-8805 .rand-class-9897 {
    display: none;
  }

  .rand-class-1241 .rand-class-1502 .rand-class-8886 {
    content: "\25bc"!important;
  }

  .rand-class-8254 li.rand-class-6929 .rand-class-5405 .rand-class-4606 {
    content: "\25b2"!important;
  }

  .rand-class-8783 >li.rand-class-7333,
  .rand-class-5999 .rand-class-9747 >li.rand-class-6820 {
    display: none;
  }

  .rand-class-1035 .rand-class-5847 {
    text-align: center;
  }

  .rand-class-5201 .rand-class-4805,
  .rand-class-1574 .rand-class-2419,
  .rand-class-7460 .rand-class-8580 {
    text-align: left;
  }
}

.rand-class-7310 li.rand-class-4747 {
  display: none!important;
}

.rand-class-6582 .rand-class-6975 {
  font-size: 1.7em;
  line-height: 1;
  position: relative;
  top: 0.05em;
}

span.rand-class-3047 {
  padding-left: 5px;
  font-size: 0.75rem;
}

/*Styles for accessories listing pagination*/

.rand-class-9237 {
  background: url(/ISS_Static/WW/css/themes/owv2/images/stripes-bg.png);
  clear: both;
  margin: 1em;
  padding: 10px;
  text-align: center;
}

.rand-class-8274 ol.rand-class-2273 {
  clear: both;
  margin: 0;
  padding: 0;
}

.rand-class-7037 li.rand-class-1056 {
  display: inline;
  list-style-type: none;
  padding: 0 10px;
  border-right: 1px solid #666;
}

.rand-class-5569 li:last-child.rand-class-1690 {
  border-right: 0;
}

.rand-class-5208 {
  overflow: visible;
  min-height: 85px;
}

/*Fix for Bug 1132*/

.rand-class-7161 .rand-class-8431 {
  background: none;
  color: #009DD9;
}

/*Fix for Bug 1072*/

.rand-class-5869 {
  width: 25%;
  line-height: 1em;
  text-align: right;
}

.rand-class-6853 {
  width: 60%;
  line-height: 1em;
}

@media (min-width:27em) {
  .rand-class-5003,
  .rand-class-5715 {
    width: auto;
  }
}

@media (min-width: 35em) and (max-width: 70em) {
  .rand-class-7046 {
    clear: both;
  }
}

/*Fix for Bug  1169*/

@media (max-width: 32em) {
  .rand-class-4103 .rand-class-7659 {
    clear: left;
  }

  .rand-class-6261 .rand-class-6458 {
    clear: right;
  }
}

/*FP1871*/

.rand-class-4613 {
  float: none;
}

#facet-area.rand-class-3048 .rand-class-1682 {
  display: none;
}

@media (max-width: 60em) {
  #facet-area.rand-class-4792 .rand-class-5844 {
    display: none;
  }

  #facet-area.rand-class-9894 .rand-class-5501 {
    display: inline;
  }

  /*FP2150*/

  .rand-class-6850 {
    margin-bottom: 20px;
  }

  .rand-class-9478 .rand-class-2998 {
    margin-bottom: 0;
  }
}

.rand-class-9971 .rand-class-9247 {
  word-wrap: break-word;
}

.rand-class-1553 .rand-class-1417 .rand-class-2144 {
  width: auto!important;
}

/*Bug 1037*/

.rand-class-6697 .rand-class-2192 {
  width: 28em;
}

/*FP 1887*/

.rand-class-2097 .rand-class-9004 {
  text-align: center;
}

.rand-class-5644 .rand-class-9436 img.rand-class-9615 {
  max-width: 100%;
  border: none;
}

/*FP1755*/

.rand-class-9160 {
  background: #D8EFF9;
  padding: 0.375em;
  border: 1px solid #B8E3F4;
  margin: 1em 0 0 0;
}

.rand-class-7383 {
  background: transparent;
  border-color: transparent;
  visibility: hidden;
}

.rand-class-5349 .rand-class-3079,
.rand-class-6231 .rand-class-7635 {
  font-size: .9em;
  text-align: center;
  line-height: 1em;
  padding: .5em 0;
}

.rand-class-7147 .rand-class-2559 {
  font-size: 0.85em;
  line-height: 1em;
  text-align: center;
}

/*FP2024*/

.rand-class-4021,
.rand-class-4494 {
  position: relative;
}

.rand-class-6069 .rand-class-2660 {
  background: url(http://www.lenovo.com/images/OneWebImages/Series/touch-icon-blue.png)no-repeat 0 0;
  width: 30px;
  height: 30px;
  position: absolute;
  top: 85px;
  left: 15%;
}

@media (min-width: 48em) {
  .rand-class-4531 .rand-class-1306 {
    left: 1em;
  }
}

/*FP2044*/

.rand-class-6902 {
  position: absolute;
  top: 2.5em;
  left: .98em;
}

.rand-class-9929 .rand-class-8220 {
  width: auto;
  background: #ee3124;
  color: #fff;
  padding: 0 0 0 .5em;
  float: left;
  font-family: lenovo-do-medium,Arial,sans-serif;
  font-size: .9em;
  height: 24px;
  overflow: hidden;
}

.rand-class-2042 {
  float: left;
  content: "";
  width: .2em;
  bottom: 0;
  border: .8em solid #ee3124;
  border-left-width: .75em;
  border-right-color: transparent;
}

.rand-class-3133 {
  background: url(http://www.lenovo.com/images/OneWebImages/Series/ribbon.png)no-repeat;
  clear: both;
  float: left;
  width: 20px;
  height: 20px;
}

/*Fix for Bug 1364*/

.rand-class-7261 {
  min-width: 10.2em;
}

/*Fix for Bug 1367*/

.rand-class-2581 {
  display: none;
}

/* JDA BZ 34438 */

#dimmerlayer.rand-class-9319 {
  position: absolute;
  left: 0px;
  top: 0px;
  background-color: black;
  filter: alpha (opacity=50);
  -moz-opacity: 0.5;
  opacity: 0.5;
  display: none;
  z-index: 198;
}

#gaugelayer.rand-class-7489 {
  display: none;
  position: absolute;
  left: 0px;
  top: 0px;
  z-index: 199;
}

/*Faceted browse sort dropdown*/

.rand-class-2271 {
  display: block;
  background: url("/ISS_Static/WW/css/themes/owv2/images/stripes-bg.png");
  padding: 0.3em 0 0.3em 1em;
  z-index: 1;
  border-bottom: 1px solid #bbb;
}

.rand-class-1734 select.rand-class-9938 {
  border-radius: 0.2em;
  border: 1px solid #adadad;
  padding: 0.2em;
  border-radius: 0.3em;
}

.rand-class-9465 {
  float: left;
  font-size: 0.8em;
  margin: 0.2em 0;
}

/*For Sidebar Navigation*/

.rand-class-8168,
.rand-class-9267 {
  content: none;
}

/*Fix for Bug 1385*/

@media (min-width: 64.81em) {
  .rand-class-4197 {
    background-size: 100% 50%;
  }
}

/*Fix for Bug 1419*/

.rand-class-5804,
.rand-class-2648 {
  -webkit-transform: none;
  transform: none;
}

/*FP2079*/

.rand-class-2437 {
  clear: both;
  padding: 0 22px;
  font-size: .9em;
}

@media (min-width: 47em) {
  .rand-class-1995 {
    padding: 0;
  }
}

/*Fix for Bug 1380 */

@media (min-width: 32em) {
  .rand-class-8989 .rand-class-5628 {
    overflow: initial !important;
    position: initial !important;
    margin: 0 !important;
    width: 100%;
    height: 100%;
  }
}

/*Bug 1496 / 1511 */

@media (min-width: 32em) {
  .rand-class-3186 {
    font-size: 2em;
  }
}

/*FP2170*/

.rand-class-7563 ul.rand-class-2480 {
  padding-left: 15px;
}

/*Bugzilla #1606 */

div#reviewsPressquotes.rand-class-6531 h2.rand-class-8019 {
  font-weight: bold;
}

div#reviewsPressquotes.rand-class-4847 ul.rand-class-8509 {
  padding: 1em 0 0;
  list-style: none;
}

div#reviewsPressquotes.rand-class-5619 ul.rand-class-8855 img.rand-class-9220 {
  max-width: 100%;
}

.rand-class-6426 a.rand-class-5686 {
  display: block;
  font-size: .8em;
  padding: .1em 0 .1em 1.6em;
  background: url("http://www.lenovo.com/images/icons/icon-systemx.png") no-repeat 0 0;
}

.rand-class-5340 a.rand-class-6869 {
  background-position: 0 -28px;
}

.rand-class-3512 a.rand-class-2264 {
  background-position: 0 -54px;
}

/*FP2171 Search/Facet Pages*/

ul.rand-class-6675 {
  padding-left: 15px;
  font-weight: bold;
}

ul.rand-class-6731 li.rand-class-4196 {
  font-size: 0.75rem;
  list-style-type: disc;
}

.rand-class-4517 {
  margin-left: 2em;
}

.rand-class-3509 {
  text-decoration: underline;
}

.rand-class-1076,
.rand-class-4418 {
  color: #009DD9;
  cursor: pointer;
}

/*BZ1664 */

div#mastheadPageTitleMessaging.rand-class-6598 {
  position: relative;
  top: 20px;
  left: 0;
}

/*Breadcrumb alignment in accessories pages*/

.rand-class-9828 h1.rand-class-7905 {
  display: inline-block;
}

/*FP2078*/

.rand-class-7964 {
  min-height: 34px;
}

.rand-class-2767 .rand-class-7185 {
  margin: 0 auto;
}

.rand-class-7969 .rand-class-9596 >.rand-class-1488 div.rand-class-7621 {
  padding-bottom: 1em;
}

#cmpoverlaytable.rand-class-3571 .rand-class-7422 img.rand-class-6068 {
  max-width: 100%;
}