/*
OnlineOpinion v5.7.7
Released: 11/19/2013. Compiled 03/10/2014 03:59:10 PM -0500
Branch: (detached from 690578e) Dec
Components: Full
UMD: disabled
The following code is Copyright 1998-2014 Opinionlab, Inc.  All rights reserved. Unauthorized use is prohibited. This product and other products of OpinionLab, Inc. are protected by U.S. Patent No. 6606581, 6421724, 6785717 B1 and other patents pending. http://www.opinionlab.com
*/

#oo_feedback_fl_spacer.rand-class-7028 {
  display: block;
  height: 1px;
  position: absolute;
  top: 0;
  width: 100px;
}

.rand-class-2563 {
  width: 100px;
  height: 50px;
  overflow: hidden;
  font: 12px Tahoma, Arial, Helvetica, sans-serif;
  text-align: center;
  color: #252525;
  cursor: pointer;
  z-index: 999997;
  position: fixed;
  bottom: 5px;
  border: 1px solid #cccccc;
  border-radius: 9px;
  -moz-border-radius: 9px;
  -webkit-border-radius: 9px;
  right: 10px;
  -webkit-transition: -webkit-transform 0.3s ease;
}

.rand-class-9029 .rand-class-9442 {
  color: transparent;
  display: block;
  position: relative;
  height: 0;
  width: 0;
  line-height: 0;
  overflow: hidden;
}

.rand-class-5092 .rand-class-8923 {
  width: 100%;
  height: 100%;
  background: url("//www.lenovo.com/ISS_Static/WW/tms/opinionlab/5.8.1/oo_float_icon.gif") center 10px no-repeat;
  text-align: center;
  padding: 31px 0 5px 0;
  position: relative;
  z-index: 2;
  filter: alpha(opacity=100);
  opacity: 1;
  transition: opacity .5s;
  -moz-transition: opacity .5s;
  -webkit-transition: opacity .5s;
  -o-transition: opacity .5s;
}

.rand-class-7196 .rand-class-7628 img.rand-class-3549 {
  margin-bottom: 5px;
}

.rand-class-5070 .rand-class-4263 {
  display: block;
  background: white;
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  z-index: 1;
  opacity: 0.8;
  filter: alpha(opacity=80);
  border-radius: 8px;
  -moz-border-radius: 8px;
  -webkit-border-radius: 8px;
}

.rand-class-9245 .rand-class-8431 {
  opacity: 1.0;
  filter: alpha(opacity=100);
}

.rand-class-1440 .rand-class-9295 {
  display: block;
  opacity: 0;
  filter: alpha(opacity=0);
}

.rand-class-5415 .rand-class-8090 {
  display: block;
}

.rand-class-2844 .rand-class-9915 {
  display: block;
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  min-height: 50px;
  z-index: 2;
  opacity: 0;
  filter: alpha(opacity=0);
  transition: opacity .5s;
  -moz-transition: opacity .5s;
  -webkit-transition: opacity .5s;
  -o-transition: opacity .5s;
}

.rand-class-4479 .rand-class-9915 span.rand-class-2732 {
  display: block;
  padding: 10px 5px;
}

.rand-class-9102 .rand-class-8630 {
  opacity: 1.0;
  filter: alpha(opacity=100);
  top: 0;
}

.rand-class-2061 {
  left: 0;
  padding: 0;
  position: fixed;
  text-align: center;
  top: 25px;
  width: 100%;
  z-index: 999999;
}

.rand-class-2067 .rand-class-8613 {
  color: transparent;
  display: block;
  position: relative;
  height: 0;
  width: 0;
  line-height: 0;
  overflow: hidden;
}

.rand-class-4524 span.rand-class-2044 {
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0;
  top: 0;
  z-index: 1;
}

.rand-class-8358 .rand-class-2329 {
  background-color: white;
  margin: 0 auto;
  position: relative;
  width: 535px;
  z-index: 2;
  box-shadow: rgba(0, 0, 0, 0.6) 0 0 15px;
  -webkit-box-shadow: rgba(0, 0, 0, 0.6) 0 0 15px;
  -moz-box-shadow: rgba(0, 0, 0, 0.6) 0 0 15px;
  border-radius: 9px;
  -moz-border-radius: 9px;
  -webkit-border-radius: 9px;
}

.rand-class-8522 iframe.rand-class-8485 {
  position: relative;
  border: none;
  width: 100%;
  z-index: 4;
}

.rand-class-7392 .rand-class-9586 {
  position: absolute;
  display: block;
  background: white;
  height: 20px;
  width: 20px;
  border: 1px solid #cccccc;
  cursor: pointer;
  right: -12px;
  top: -9px;
  border-radius: 5px;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  transition: background .5s;
  -moz-transition: background .5s;
  -webkit-transition: background .5s;
  -o-transition: background .5s;
  font: 14px/20px Tahoma, Arial, Helvetica, sans-serif;
  text-align: center;
  z-index: 5;
  color: #252525;
  text-decoration: none;
}

.rand-class-4919 .rand-class-1105 {
  background: #eeeeee;
}

.rand-class-9937 {
  padding-bottom: 22px;
}

#oo_bar.rand-class-5233 {
  cursor: pointer;
  color: #252525;
  border-top: 1px solid #cccccc;
  background: #ffffff;
  bottom: 0;
  display: block;
  font: 12px Tahoma, Arial, Helvetica, sans-serif;
  height: 22px;
  left: 0;
  line-height: 22px;
  position: fixed;
  text-align: left;
  width: 100%;
  z-index: 999997;
  -webkit-transition: -webkit-transform .3s ease;
  transition: background 0.5s;
  -moz-transition: background 0.5s;
  -webkit-transition: background 0.5s;
  -o-transition: background 0.5s;
}

#oo_bar:hover.rand-class-7075 {
  background: #eeeeee;
}

#oo_bar.rand-class-2545 .rand-class-6710 {
  color: transparent;
  display: block;
  position: relative;
  height: 0;
  width: 0;
  line-height: 0;
  overflow: hidden;
}

#oo_bar.rand-class-8996 span.rand-class-4067 {
  background: url("//www.lenovo.com/ISS_Static/WW/tms/opinionlab/5.8.1/oo_bar_icon.gif") left no-repeat;
  display: block;
  margin: 0 15px;
  height: 100%;
  padding-left: 17px;
}

#oo_tab.rand-class-9166 {
  background-color: #ffffff;
  border: 1px solid #cccccc;
  display: block;
  position: fixed;
  top: 40%;
  padding: 55px 0px 55px 0px;
  _height: 110px;
  _padding: 0px;
  _top: 45%;
  width: 35px;
  z-index: 999995;
  cursor: pointer;
}

#oo_tab.rand-class-4748 span.rand-class-8136 {
  bottom: 15px;
  _bottom: 5px;
  display: block;
  background: url("//www.lenovo.com/ISS_Static/WW/tms/opinionlab/5.8.1/oo_tab_icon.gif") no-repeat;
  height: 9px;
  position: absolute;
  width: 9px;
}

#oo_tab.rand-class-1147 div.rand-class-3815 {
  background-image: url("//www.lenovo.com/ISS_Static/WW/tms/opinionlab/5.8.1/oo_tab.png");
  _background-image: url("//www.lenovo.com/ISS_Static/WW/tms/opinionlab/5.8.1/oo_tabie6.png");
  background-repeat: no-repeat;
  position: absolute;
  display: block;
  height: 100%;
  left: 0;
  top: 0;
  width: 100%;
}

#oo_tab.rand-class-6517 a.rand-class-9608 {
  background: url("//www.lenovo.com/ISS_Static/WW/tms/opinionlab/5.8.1/oo_tab_icon.gif") no-repeat;
  background-repeat: no-repeat;
  background-position: center bottom;
  border: none;
  outline: none;
  position: absolute;
  display: block;
  bottom: 15px;
  left: -6px;
  top: 0;
  width: 100%;
}

#oo_tab.rand-class-2137 img.rand-class-9135 {
  border: none;
  outline: none;
  display: block;
  position: absolute;
  left: 0;
  top: -10px;
}

#oo_tab.rand-class-7433 .rand-class-5189 {
  color: transparent;
  display: block;
  position: relative;
  height: 0;
  width: 0;
  line-height: 0;
  overflow: hidden;
}

.rand-class-2441 {
  left: -13px;
  border-radius: 0px 9px 9px 0px;
  -moz-border-radius: 0px 9px 9px 0px;
  -webkit-border-radius: 0px 9px 9px 0px;
  transition: left .5s;
  -moz-transition: left .5s;
  -webkit-transition: left .5s;
  -o-transition: left .5s;
  background-image: -webkit-gradient(linear, 0% 100%, 0% 0%, from(#eeeeee), to(white));
  background-image: -webkit-linear-gradient(left, #eeeeee, white);
  background-image: -moz-linear-gradient(left, #eeeeee, white);
  background-image: -ms-linear-gradient(left, #eeeeee, white);
  background-image: -o-linear-gradient(left, #eeeeee, white);
  background-image: linear-gradient(left, #eeeeee, white);
}

.rand-class-9922 span.rand-class-1978 {
  right: 6px;
}

.rand-class-8874 div.rand-class-2956 {
  background-position: 6px -10px;
}

.rand-class-1610 {
  left: -5px;
}

.rand-class-3370 {
  right: -13px;
  border-radius: 9px 0px 0px 9px;
  -moz-border-radius: 9px 0px 0px 9px;
  -webkit-border-radius: 9px 0px 0px 9px;
  transition: right .5s;
  -moz-transition: right .5s;
  -webkit-transition: right .5s;
  -o-transition: right .5s;
  background-image: -webkit-gradient(linear, 0% 100%, 0% 0%, from(white), to(#eeeeee));
  background-image: -webkit-linear-gradient(left, white, #eeeeee);
  background-image: -moz-linear-gradient(left, white, #eeeeee);
  background-image: -ms-linear-gradient(left, white, #eeeeee);
  background-image: -o-linear-gradient(left, white, #eeeeee);
  background-image: linear-gradient(left, white, #eeeeee);
}

.rand-class-8306 span.rand-class-4457 {
  left: 7px;
}

.rand-class-2179 div.rand-class-6603 {
  background-position: -6px -10px;
}

.rand-class-5906 {
  right: -5px;
}

.rand-class-1426 {
  border-right: none !important;
  right: 1px;
  width: 25px !important;
}

.rand-class-3231 {
  right: 6px;
  width: 30px !important;
}

#oo_tab.rand-class-5364 {
  overflow: hidden !important;
  right: 0px !important;
  width: 26px !important;
}

#oo_tab.rand-class-5482 {
  right: 0px !important;
  width: 31px !important;
}

#oo_tab.rand-class-3284 a.rand-class-2450 {
  background: none;
  z-index: 1;
}

#oo_tab.rand-class-6361 .rand-class-3958 {
  bottom: 15px;
  display: block;
  background: url("//www.lenovo.com/ISS_Static/WW/tms/opinionlab/5.8.1/oo_tab_icon.gif") no-repeat;
  height: 9px;
  width: 9px;
  position: absolute;
  left: 7px;
  top: auto;
  z-index: 9999;
}

#oo_container.rand-class-6843 {
  position: fixed;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  z-index: 999999;
}

html.rand-class-5945 body.rand-class-3323 #oo_invitation_prompt.rand-class-3468 {
  background: white;
  box-shadow: rgba(0, 0, 0, 0.6) 0 0 15px;
  -webkit-box-shadow: rgba(0, 0, 0, 0.6) 0 0 15px;
  -moz-box-shadow: rgba(0, 0, 0, 0.6) 0 0 15px;
  -webkit-box-shadow: rgba(0, 0, 0, 0.6) 0 0 8px;
  -moz-box-shadow: rgba(0, 0, 0, 0.6) 0 0 8px;
  border-radius: 9px;
  -moz-border-radius: 9px;
  -webkit-border-radius: 9px;
  color: #252525;
  font: 14px/20px Tahoma, Arial,san-serif;
  line-height: 20px;
  margin: 50px auto;
  text-align: left;
  padding: 20px 10px;
  position: relative;
  width: 350px;
  z-index: 999999;
}

html.rand-class-5246 body.rand-class-5067 #oo_invitation_prompt.rand-class-1828 h1.rand-class-9029 {
  font-size: 24px;
  font-weight: 100;
  margin-bottom: .6em;
}

html.rand-class-1962 body.rand-class-5098 #oo_invitation_prompt.rand-class-5676 p.rand-class-1176 {
  margin-bottom: 1.5em;
}

html.rand-class-2599 body.rand-class-6673 #oo_invitation_prompt.rand-class-7336 #prompt_buttons.rand-class-8572 {
  padding-bottom: 15px;
  position: relative;
  z-index: 5;
}

html.rand-class-3797 body.rand-class-9599 #oo_invitation_prompt.rand-class-7935 #oo_launch_prompt.rand-class-3732 {
  text-decoration: none;
  color: white;
  border: 1px solid #006633;
  padding: 5px 11px;
  margin-right: 17px;
}

html.rand-class-7742 body.rand-class-5413 #oo_invitation_prompt.rand-class-7977 #oo_no_thanks.rand-class-1194 {
  text-decoration: none;
  color: #252525;
  border: 1px solid #cccccc;
  padding: 5px 11px;
  margin-right: 18px;
}

html.rand-class-8214 body.rand-class-3348 #oo_ol_brand.rand-class-4297 {
  display: block;
  height: 22px;
}

#oo_ol_brand.rand-class-7771 {
  background: url("//www.lenovo.com/ISS_Static/WW/tms/opinionlab/5.8.1/oo_inv_opinionlab.png") bottom right no-repeat;
  border-top: 1px solid #cccccc;
}

#oo_invitation_prompt.rand-class-3847 a.rand-class-1267 {
  background: white;
  border-radius: 5px;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  transition: background .5s;
  -moz-transition: background .5s;
  -webkit-transition: background .5s;
  -o-transition: background .5s;
}

#oo_invitation_prompt.rand-class-4011 a:hover.rand-class-9025 {
  background: #eeeeee;
}

a#oo_launch_prompt.rand-class-9304 {
  background: #006633;
}

a#oo_launch_prompt:hover.rand-class-9988 {
  background: #009966;
}

#oo_close_prompt.rand-class-4982 {
  position: absolute;
  display: block;
  background: white;
  height: 20px;
  width: 20px;
  border: 1px solid #cccccc;
  cursor: pointer;
  right: 5px;
  top: 5px;
  border-radius: 5px;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  transition: background .5s;
  -moz-transition: background .5s;
  -webkit-transition: background .5s;
  -o-transition: background .5s;
  font: 14px/20px Tahoma, Arial, Helvetica, sans-serif;
  text-align: center;
}

#oo_close_prompt:hover.rand-class-4899 {
  background: #eeeeee;
}

#oo_close_prompt.rand-class-6257 .rand-class-3510 {
  color: transparent;
  display: block;
  position: relative;
  height: 0;
  width: 0;
  line-height: 0;
  overflow: hidden;
}

/* Smartphones (portrait) ----------- */

@media only screen and (max-device-width: 480px) {
  /* Styles */

  html.rand-class-5274 body.rand-class-2155 #oo_invitation_prompt.rand-class-5667 {
    -webkit-text-size-adjust: none;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    width: 90%;
    padding: 3%;
  }
}

@media all and (-webkit-min-device-pixel-ratio: 2) {
  #oo_ol_brand.rand-class-8318 {
    background: url("//www.lenovo.com/ISS_Static/WW/tms/opinionlab/5.8.1/oo_inv_opinionlab@2x.png") bottom right no-repeat;
    -webkit-background-size: 85px 13px;
  }
}

#oo_overlay.rand-class-2687,
#oo_invitation_overlay.rand-class-3082 {
  background: black url("//www.lenovo.com/ISS_Static/WW/tms/opinionlab/5.8.1/oo_loading.gif") 50% 80px no-repeat;
  display: block;
  height: 1000%;
  left: 0;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 999998;
  opacity: 0.5;
  filter: alpha(opacity=50);
}

#oo_overlay.rand-class-5555,
#oo_invitation_overlay.rand-class-1882 {
  background: black;
  opacity: 0.5;
  filter: alpha(opacity=50);
}

@media print {
  #oo_bar.rand-class-9252,
  .rand-class-4559,
  #oo_tab.rand-class-1737 {
    display: none;
  }
}

/* Lenovo RWD styles ------------- */

#oo_invitation_prompt.rand-class-6354 a.rand-class-1366 {
  white-space: nowrap;
  display: inline-block;
  margin-top: 0.5em;
}

@media (max-width: 55em) {
  html.rand-class-9140 body.rand-class-1883 #oo_invitation_prompt.rand-class-6689 {
    width: auto;
    margin: 4em;
  }

  .rand-class-9232,
  .rand-class-9040 {
    margin-right: 1em;
    width: 104px;
  }

  .rand-class-6107 >.rand-class-3559 #oo_float.rand-class-3204 {
    background: #ffffff;
    bottom: auto !important;
    display: table;
    float: left;
    height: 33px;
    position: relative;
    right: auto !important;
    border-radius: 0;
    -moz-border-radius: 0;
    -webkit-border-radius: 0;
  }

  .rand-class-6107 >.rand-class-3266 #oo_float.rand-class-5437 .rand-class-4456 {
    background-position: 0.5em center;
    display: table-cell;
    padding: 0 1em 0 2.5em;
    text-align: left;
    vertical-align: middle;
  }

  .rand-class-6107 >.rand-class-1067 #oo_float.rand-class-5068 .rand-class-3332 {
    display: table;
    min-height: initial;
    padding: 0 1em;
  }

  .rand-class-6107 >.rand-class-5383 #oo_float.rand-class-3166 .rand-class-4651 span.rand-class-5483 {
    display: table-cell;
    font-size: 0.9em;
    padding: 0;
    text-align: left;
    vertical-align: middle;
  }

  .rand-class-6107 >.rand-class-8356 #oo_float.rand-class-6262 .rand-class-5021 {
    border-radius: 0;
    -moz-border-radius: 0;
    -webkit-border-radius: 0;
  }
}

@media (min-width: 55.01em) {
  html.rand-class-7200 body.rand-class-6460 #oo_invitation_prompt.rand-class-8778 {
    width: 30em;
  }
}

/* Lenovo RU formatting */

@media (max-width:35em) {
  html[lang="ru"].rand-class-5992 .rand-class-6107 >.rand-class-3616 #oo_float.rand-class-6549,
  head[lang="ru"].rand-class-9071 .rand-class-6107 >.rand-class-7658 #oo_float.rand-class-2969 {
    width: 80%;
  }
}

@media (min-width:35.01em) and (max-width:49.99em) {
  html[lang="ru"].rand-class-4213 .rand-class-6107 >.rand-class-3078 #oo_float.rand-class-7206,
  head[lang="ru"].rand-class-6757 .rand-class-6107 >.rand-class-4118 #oo_float.rand-class-9445 {
    width: 35%;
  }
}

@media (min-width: 50em) and (max-width:55em) {
  html[lang="ru"].rand-class-7580 .rand-class-6107 >.rand-class-8851 #oo_float.rand-class-6063,
  head[lang="ru"].rand-class-5799 .rand-class-6107 >.rand-class-5151 #oo_float.rand-class-9675 {
    width: 50%;
  }
}

@media (min-width:55.01em) {
  html[lang="ru"].rand-class-2907 .rand-class-6107 >.rand-class-3760 #oo_float.rand-class-5391,
  head[lang="ru"].rand-class-9824 .rand-class-6107 >.rand-class-8834 #oo_float.rand-class-7608 {
    height: 5em;
  }
}