/*Accessories details page*/

.rand-class-1107 .rand-class-4214 .rand-class-1107 .rand-class-4965 {
  font-size: 0.85em;
}

.rand-class-1107 .rand-class-4214 .rand-class-1107 .rand-class-3894 {
  line-height: 1.5rem;
}

.rand-class-1107 .rand-class-4214 {
  padding-bottom: 0;
}

.rand-class-1107 .rand-class-4214 .rand-class-1107 .rand-class-7055 {
  font-size: 2.5em;
}

span.newItem,
span.btstItem,
span.clearanceItem {
  font-size: 12px;
  font-size: 0.75rem;
  font-family: lenovo-do-bold,Arial,sans-serif;
  color: #cf2c2f;
  text-transform: uppercase;
}

.rand-class-1107 .rand-class-4214 .rand-class-1107 .recommmendAccessory-wrapper .rand-class-1107 .sectionHeader {
  display: none;
}

.rand-class-1107 .rand-class-4214 .rand-class-1107 .rand-class-7142 .rand-class-1107 .rand-class-1678 {
  display: inline-block!important;
}

.rand-class-1107 .rand-class-9924 {
  font-size: 11px;
}

.rand-class-1107 .rand-class-2802 .rand-class-2791 {
  text-align: left;
}

.rand-class-1107 .rand-class-2802 .rand-class-2791 {
  list-style-type: none;
  display: inline;
}

.rand-class-1107 .rand-class-2802 .rand-class-2791 {
  display: inline;
}

.rand-class-1107 .rand-class-2802 .rand-class-2791 a.cloud-zoom-gallery {
  border: 1px solid #ccc;
  height: 60px;
  width: 60px;
  margin-right: 5px;
}

.rand-class-1107 .rand-class-2802 .rand-class-2791 li.selected a.cloud-zoom-gallery,
.rand-class-1107 .rand-class-2802 .rand-class-2791 li.hover a.cloud-zoom-gallery {
  border: 1px solid #cf2a23;
}

.rand-class-1107 .tabbedBrowse-module {
  background: #fff;
}

.rand-class-1107 .recommmendAccessory-image {
  width: 50px;
  height: 50px;
}

.rand-class-1107 .rand-class-5535 h1.mastheadCrumbLocation {
  display: inline;
}

@media (min-width: 38em) {
  .rand-class-1107 .rand-class-4125 .rand-class-1107 .techSpecs-table {
    width: 40%;
  }
}

@media (min-width: 45em) {
  .rand-class-1107 .rand-class-4214 .rand-class-1107 .recommmendAccessory-wrapper .rand-class-1107 .recommmendAccessory {
    width: auto;
  }
}

@media (min-width: 47em) {
  .rand-class-1107 .rand-class-4214 .rand-class-1107 .recommmendAccessory-wrapper .rand-class-1107 .sectionHeader {
    display: block;
  }

  .rand-class-1107 .rand-class-4214 .rand-class-1107 .rand-class-7142 {
    text-align: center;
  }

  .rand-class-1107 .rand-class-4214 .rand-class-1107 .rand-class-4965 {
    width: 33%;
  }
}

@media (min-width: 48.5em) {
  .rand-class-1107 .rand-class-4214 .rand-class-1107 .rand-class-4965 {
    width: 34.25%;
  }
}

@media (min-width: 56em) {
  .rand-class-1107 .rand-class-4214 .rand-class-1107 .recommmendAccessory-wrapper {
    margin: 0;
    width: 35%;
    float: right;
  }
}