.rand-class-1107 .wrap {
  position: relative;
  width: 1180px;
  margin: 0 auto;
}

.rand-class-1107 .side_menu {
  float: left;
  width: 190px;
}

.rand-class-1107 .side_menu {
  height: 40px;
  background: #9c3022;
  color: #fff;
  font-size: 16px;
  line-height: 40px;
  text-indent: 17px;
}

.rand-class-1107 .side_menu {
  border-bottom: 2px solid #9c3022;
}

.rand-class-1107 .side_menu {
  position: relative;
  height: auto;
  min-height: 40px;
  _height: 40px;
  line-height: 40px;
  border-left: 2px solid #9c3022;
  border-right: 2px solid #9c3022;
}

.rand-class-1107 .side_menu,
.rand-class-1107 .side_menu {
  display: block;
  padding-left: 48px;
  color: #6d6d6d;
  font-weight: bold;
  text-decoration: none;
}

.rand-class-1107 .side_menu {
  text-decoration: underline;
}

.rand-class-1107 .side_menu li.laptop {
  background: url(/ISS_Static/WW/ap/au/en/images/merchandising/specialoffers/common/ico_laptop_off.png) no-repeat 6px 10px;
}

.rand-class-1107 .side_menu li.tablet {
  background: #e7e7e7 url(/ISS_Static/WW/ap/au/en/images/merchandising/specialoffers/common/ico_tablet_off.png) no-repeat 6px 10px;
}

.rand-class-1107 .side_menu li.desktop {
  background: #e7e7e7 url(/ISS_Static/WW/ap/au/en/images/merchandising/specialoffers/common/ico_desktop_off.png) no-repeat 6px 10px;
}

.rand-class-1107 .side_menu li.workstation {
  background: url(/ISS_Static/WW/ap/au/en/images/merchandising/specialoffers/common/ico_workstation_off.png) no-repeat 6px 10px;
}

.rand-class-1107 .side_menu li.server {
  background: url(/ISS_Static/WW/ap/au/en/images/merchandising/specialoffers/common/ico_server_off.png) no-repeat 6px 10px;
}

.rand-class-1107 .side_menu li.clearance {
  background: #e7e7e7 url(/ISS_Static/WW/ap/au/en/images/merchandising/specialoffers/common/ico_clearance_off.png) no-repeat 6px 10px;
}

.rand-class-1107 .side_menu li.student {
  background: url(/ISS_Static/WW/ap/au/en/images/merchandising/specialoffers/common/ico_student_off.png) no-repeat 6px 10px;
}

.rand-class-1107 .side_menu li.laptop_on {
  background: #dc291e url(/ISS_Static/WW/ap/au/en/images/merchandising/specialoffers/common/ico_laptop_on.png) no-repeat 6px 10px;
  color: #fff;
}

.rand-class-1107 .side_menu li.tablet_on {
  background: #dc291e url(/ISS_Static/WW/ap/au/en/images/merchandising/specialoffers/common/ico_tablet_on.png) no-repeat 6px 10px;
  color: #fff;
}

.rand-class-1107 .side_menu li.desktop_on {
  background: #dc291e url(/ISS_Static/WW/ap/au/en/images/merchandising/specialoffers/common/ico_desktop_on.png) no-repeat 6px 10px;
  color: #fff;
}

.rand-class-1107 .side_menu li.workstation_on {
  background: #dc291e url(/ISS_Static/WW/ap/au/en/images/merchandising/specialoffers/common/ico_workstation_on.png) no-repeat 6px 10px;
  color: #fff;
}

.rand-class-1107 .side_menu li.server_on {
  background: #dc291e url(/ISS_Static/WW/ap/au/en/images/merchandising/specialoffers/common/ico_server_on.png) no-repeat 6px 10px;
  color: #fff;
}

.rand-class-1107 .side_menu li.clearance_on {
  background: #dc291e url(/ISS_Static/WW/ap/au/en/images/merchandising/specialoffers/common/ico_clearance_on.png) no-repeat 6px 10px;
  color: #fff;
}

.rand-class-1107 .side_menu li.student_on {
  background: #dc291e url(/ISS_Static/WW/ap/au/en/images/merchandising/specialoffers/common/ico_student_on.png) no-repeat 6px 10px;
  color: #fff;
}

.rand-class-1107 .side_menu .rand-class-1107 .ico_leftbar {
  display: none;
  width: 12px;
  height: 46px;
  position: absolute;
  background: url(/ISS_Static/WW/ap/au/en/images/merchandising/specialoffers/common/bg_menu_on.gif) no-repeat 0 0;
  left: -10px;
  *left: -12px;
}

.rand-class-1107 .side_menu li.laptop_on .rand-class-1107 .ico_leftbar,
.rand-class-1107 .side_menu li.tablet_on .rand-class-1107 .ico_leftbar,
.rand-class-1107 .side_menu li.desktop_on .rand-class-1107 .ico_leftbar,
.rand-class-1107 .side_menu li.workstation_on .rand-class-1107 .ico_leftbar,
.rand-class-1107 .side_menu li.server_on .rand-class-1107 .ico_leftbar,
.rand-class-1107 .side_menu li.clearance_on .rand-class-1107 .ico_leftbar,
.rand-class-1107 .side_menu li.student_on .rand-class-1107 .ico_leftbar {
  display: block;
  top: 0;
}

.rand-class-1107 .side_menu li.tablet,
.rand-class-1107 .side_menu li.tablet_on,
.rand-class-1107 .side_menu li.desktop,
.rand-class-1107 .side_menu li.desktop_on {
  height: 40px;
  line-height: 19px;
  font-weight: bold;
}

.rand-class-1107 .side_menu li.laptop {
  display: none;
  height: 0;
}

.rand-class-1107 .side_menu li.laptop_on {
  display: block;
  height: auto;
  min-height: 54px;
  _height: 54px;
  border-bottom: 0;
}

.rand-class-1107 .side_menu li.laptop_on {
  height: auto;
  min-height: 27px;
  _height: 27px;
  line-height: 27px;
  border: 0;
}

.rand-class-1107 .side_menu li.laptop_on {
  height: auto;
  min-height: 26px;
  _height: 26px;
  padding-left: 12px;
  background: #fff;
  background-image: none;
  border-bottom: 1px solid #ccc;
  color: #009dd9;
  line-height: 26px;
  font-weight: normal;
}

.rand-class-1107 .side_menu li.clearance {
  display: none;
  height: 0;
}

.rand-class-1107 .side_menu li.clearance_on {
  display: block;
  height: auto;
  min-height: 34px;
  _height: 34px;
  border-bottom: 0;
}

.rand-class-1107 .side_menu li.clearance_on {
  height: auto;
  min-height: 31px;
  _height: 31px;
  line-height: 27px;
  border: 0;
}

.rand-class-1107 .side_menu li.clearance_on {
  height: auto;
  min-height: 30px;
  _height: 30px;
  padding-left: 12px;
  background: #fff;
  background-image: none;
  border-bottom: 1px solid #ccc;
  color: #009dd9;
  line-height: 15px;
  font-weight: normal;
}

.rand-class-1107 .side_menu li.desktop {
  display: none;
  height: 0;
}

.rand-class-1107 .side_menu li.desktop_on {
  display: block;
  height: auto;
  min-height: 54px;
  _height: 54px;
  border-bottom: 0;
}

.rand-class-1107 .side_menu li.desktop_on {
  height: auto;
  min-height: 27px;
  _height: 27px;
  line-height: 27px;
  border: 0;
}

.rand-class-1107 .side_menu li.desktop_on {
  height: auto;
  min-height: 26px;
  _height: 26px;
  padding-left: 12px;
  background: #fff;
  background-image: none;
  border-bottom: 1px solid #ccc;
  color: #009dd9;
  line-height: 26px;
  font-weight: normal;
}

.rand-class-1107 .main_container {
  float: left;
  width: 980px;
  margin-bottom: 30px;
  padding-left: 10px;
  background: url(/ISS_Static/WW/ap/au/en/images/merchandising/specialoffers/common/bg_mainContainer.gif) repeat-y 0 0;
}

.rand-class-1107 .deals_ad {
  width: 760px;
  margin-bottom: 5px;
}

.rand-class-1107 .ecoupon_help {
  width: 734px;
  height: 28px;
  margin-bottom: 5px;
  padding: 0 12px;
  border: 1px solid #c3c3c3;
  background: url(/ISS_Static/WW/ap/au/en/images/merchandising/specialoffers/common/bg_ecoupon.gif) repeat-x 0 0;
  color: #000;
  line-height: 28px;
}

.rand-class-1107 .ecoupon_help {
  color: #ff8500;
  font-style: normal;
  font-weight: bold;
}

.rand-class-1107 .ecoupon_help {
  float: right;
  padding-left: 18px;
  background: url(/ISS_Static/WW/ap/au/en/images/merchandising/specialoffers/common/ico_help.gif) no-repeat 0 8px;
  color: #009dd9;
}

.rand-class-1107 .deals_content {
  width: 980px;
}

.rand-class-1107 .deals_content {
  clear: both;
  height: 36px;
  padding-left: 25px;
  background: url(/ISS_Static/WW/ap/au/en/images/merchandising/specialoffers/common/bg_title.gif) no-repeat 0 0;
  color: #fff;
  line-height: 29px;
  font-size: 16px;
}

.rand-class-1107 .buy_from_lenovo {
  clear: both;
  position: relative;
  height: 52px;
  margin-bottom: 30px;
  padding-left: 145px;
  border: 1px solid #dcd9d9;
}

.rand-class-1107 .buy_from_lenovo {
  float: left;
  width: 106px;
  height: 52px;
  margin-left: 50px;
}

.rand-class-1107 .buy_from_lenovo {
  margin-top: 12px;
}

.rand-class-1107 .buy_from_lenovo li.title {
  position: absolute;
  top: -1px;
  left: -10px;
  width: 155px;
  height: 54px;
  margin: 0;
  background: url(/ISS_Static/WW/ap/au/en/images/merchandising/specialoffers/common/img_buyFromLenovo.jpg) no-repeat 0 0;
  text-indent: -99999px;
}

.rand-class-1107 .buy_from_lenovo li.more {
  position: absolute;
  bottom: 1px;
  right: -10px;
  width: 144px;
  height: 39px;
  background: url(/ISS_Static/WW/ap/au/en/images/merchandising/specialoffers/common/bg_learnMore.gif) no-repeat 0 0;
}

.rand-class-1107 .buy_from_lenovo li.more {
  display: block;
  width: 144px;
  height: 26px;
  text-indent: -9999px;
}

.rand-class-1107 .add_Xmas {
  height: 84px!important;
  margin-left: 10px;
  padding: 5px 0;
  color: #009dd9;
  line-height: 15px;
}

.rand-class-1107 .add_Xmas {
  float: left;
  height: 29px;
  padding-left: 37px;
  background: url(/ISS_Static/WW/ap/au/en/images/merchandising/specialoffers/2012/1113/ico_Xmas.png) no-repeat 0 0;
  color: #009dd9;
}

.rand-class-1107 .item_specs {
  height: auto;
  min-height: 18px;
  _height: 18px;
  padding-left: 35px;
}

.rand-class-1107 .item_specs {
  float: left;
  width: 18px;
  height: 18px;
  margin: 0 10px;
  text-indent: -9999px;
  cursor: pointer;
}

.rand-class-1107 .item_specs .rand-class-1107 .cpu {
  background: url(/ISS_Static/WW/ap/au/en/images/merchandising/specialoffers/common/ico_cpu.gif) no-repeat 0 0;
}

.rand-class-1107 .item_specs .rand-class-1107 .os {
  background: url(/ISS_Static/WW/ap/au/en/images/merchandising/specialoffers/common/ico_os.gif) no-repeat 0 0;
}

.rand-class-1107 .item_specs .rand-class-1107 .screen {
  background: url(/ISS_Static/WW/ap/au/en/images/merchandising/specialoffers/common/ico_screen.gif) no-repeat 0 0;
}

.rand-class-1107 .item_specs .rand-class-1107 .cpu_specs,
.rand-class-1107 .item_specs .rand-class-1107 .os_specs,
.rand-class-1107 .item_specs .rand-class-1107 .screen_specs {
  display: none;
}

/* old buy from lenovo content */

.rand-class-1107 .blfl {
  width: 650px;
  background: #fff;
  font-family: Arial, Helvetica, sans-serif;
}

.rand-class-1107 .blfl .rand-class-1107 .bd {
  padding: 0px 20px 10px;
  color: #444;
  text-align: left;
}

.rand-class-1107 .blfl {
  margin: 15px 0;
  padding: 0;
}

.rand-class-1107 .blfl {
  font-size: 16px;
  font-weight: bold;
  color: #dc291e;
}

.rand-class-1107 .blfl {
  float: left;
  position: relative;
  top: -3px;
  left: -5px;
}

.rand-class-1107 .blfl {
  font-size: 12px;
  margin: 0;
  padding: 0;
  padding-left: 24px;
}

.rand-class-1107 .blfl {
  margin: 8px 30px;
  padding: 0;
}

.rand-class-1107 .blfl {
  display: block;
  padding-top: 8px;
}

 {
  display: none;
}

/* add Xmas accessory popup */

.rand-class-1107 .optionOffersPopup {
  width: 600px;
  border: 1px solid #777578;
  background: #fff;
}

.rand-class-1107 .op-img {
  float: left;
}

.rand-class-1107 .op-ul {
  float: left;
}

.rand-class-1107 .accLabel {
  float: left;
}

.rand-class-1107 .moreSpecList {
  display: none;
}

.rand-class-1107 .optionOffersPopup {
  padding-bottom: 0px;
  background: #efefef;
}

.rand-class-1107 .optionOffersPopup .rand-class-1107 .op-box-ul {
  border-bottom: 1px solid #C7C7C7;
  margin: 7px 15px 0;
  overflow: hidden;
  padding: 0 0 7px;
  zoom: 1;
}

.rand-class-1107 .optionOffersPopup .rand-class-1107 .first {
  padding: 5px;
  color: #000;
}

.rand-class-1107 .optionOffersPopup .rand-class-1107 .op-ul {
  float: left;
  padding-left: 5px;
  width: 490px;
}

.rand-class-1107 .optionOffersPopup .rand-class-1107 .op-ul {
  overflow: hidden;
  zoom: 1;
  margin-bottom: 5px;
}

.rand-class-1107 .optionOffersPopup .rand-class-1107 .op-ul .rand-class-1107 .accLabel {
  float: left;
  width: 460px;
  margin: -2px 0 0 4px;
  line-height: 14px;
}

.rand-class-1107 .optionOffersPopup a.button {
  margin-left: 80px;
  margin-top: 10px;
}

.rand-class-1107 .optionOffersPopup .rand-class-1107 .titInfo {
  background: #fff;
  border-bottom: 1px solid #848484;
  vertical-align: middel;
}

.rand-class-1107 .optionOffersPopup .rand-class-1107 .tableTitle {
  width: auto;
  padding-top: 10px;
}

.rand-class-1107 .optionOffersPopup .rand-class-1107 .op-ul {
  margin-left: -3px;
}

.rand-class-1107 .darkTitle .rand-class-1107 .itemName {
  display: none;
}

/* Anjean add 2012-12-19 */

.rand-class-1107 .side_menu_placeholder {
  clear: both;
  height: 0;
}

.rand-class-1107 .sign_up_offer {
  margin: 5px 1px;
}

.rand-class-1107 .logo_intel {
  position: absolute;
  top: -50px;
  left: 400px;
}

/* Anjean add 2013-05-30 */

.rand-class-1107 .deals_content .rand-class-1107 .viewModelSpecs1,
.rand-class-1107 .deals_content .rand-class-1107 .viewModelSpecs2,
.rand-class-1107 .deals_content .rand-class-1107 .viewModelSpecs3 {
  cursor: pointer;
}

.rand-class-1107 .afterecoupon-label,
.rand-class-1107 .pricing .rand-class-1107 .gst {
  font-size: 12px;
}

a.button a.shop {
  border: 1px solid #206485;
  color: #fff;
  background: #4fb4e3;
  background: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #4fb4e3), color-stop(100%, #01618d)), #4fb4e3;
  background: -webkit-linear-gradient(top, #4fb4e3, #01618d), #4fb4e3;
  background: -moz-linear-gradient(top, #4fb4e3, #01618d), #4fb4e3;
  background: -o-linear-gradient(top, #4fb4e3, #01618d), #4fb4e3;
  background: linear-gradient(top, #4fb4e3, #01618d), #4fb4e3;
  text-shadow: 1px 1px 1px #111111;
  display: block;
  text-align: center;
  width: 178px;
  padding: 10px;
}