/*Splitter page offcanvas right espots*/

.rand-class-1107 .espots-group,
.rand-class-1107 .espots-group {
  padding: 0;
  list-style: none;
  margin: 0;
}

.rand-class-1107 .espots-group .rand-class-1107 .rand-class-1107 {
  margin: 0 0 0.7em 0;
}

@media (min-width: 65em) {
  .rand-class-1107 .espots-group {
    width: 12em;
    top: 400px;
    right: 1em;
    position: absolute;
    padding: 0;
    z-index: 1;
  }

  .rand-class-1107 .espots-group .rand-class-1107 {
    display: block;
  }

  .rand-class-1107 .espots-group .rand-class-1107 .splitter-offCanvas-bar_3-right-innerWrapper {
    position: static;
  }
}

.rand-class-1107 .subseries-promo-bar {
  font-size: 0.9rem;
  padding: 0px 20px;
  line-height: 2em;
}

.rand-class-1107 .subseries-promo-bar {
  background: none;
  -webkit-box-shadow: none;
  box-shadow: none;
  width: 100%;
  height: auto;
  -moz-box-shadow: none;
  line-height: 20px;
  padding: 7px 0;
}

/*CSS for non templated espots module : Can be removed later */

 {
  float: left;
  width: 12.5em;
  margin: 0 0.7em;
}

.rand-class-1107 .e-spot {
  border: 10px solid white;
  border-color: rgba(255,255,255,0.75);
  background-color: #cdd5d8;
  display: block;
  position: relative;
  width: 100%;
  line-height: 1.1;
  box-shadow: 0 0 10px rgba(0,0,0,0.4);
  margin: 7% 0;
}

.rand-class-1107 .e-spot,
.rand-class-1107 .espotLink {
  position: absolute;
}

.rand-class-1107 .e-spot {
  max-width: 100%;
  height: auto;
  position: absolute;
}

.rand-class-1107 .e-spot .rand-class-1107 .rand-class-5778 {
  font-size: 1.125em;
  text-transform: uppercase;
  color: #0078a6;
}

.rand-class-1107 .e-spot .rand-class-1107 .rand-class-5778 {
  overflow: hidden;
  min-height: 90px;
  max-height: 386px;
  padding-right: 7px;
  background: #cdd5d8;
}

.rand-class-1107 .e-spot {
  margin-left: 80px;
  padding-top: 10px;
  font-size: 18px;
  font-family: lenovo-do-bold,Arial,sans-serif;
  line-height: 17px;
  text-transform: uppercase;
  color: #0078A6;
}

.rand-class-1107 .e-spot .rand-class-1107 .sub-title {
  margin-left: 80px;
  font-weight: bold;
  padding-top: 4px;
  color: black;
  text-transform: uppercase;
  font-size: 14px;
  line-height: 15px;
  word-wrap: break-word;
}

.rand-class-1107 .e-spot .rand-class-1107 .rand-class-5778 {
  margin: 0 0 0 80px;
  padding: 0 5px 5px 0;
  font-size: 12px;
  line-height: 1.2;
  color: #555;
}

.rand-class-1107 .e-spot .rand-class-1107 .ShopNow {
  height: 26px;
  padding-left: 80px;
  line-height: 26px;
  font-size: 13px;
  font-weight: bold;
  letter-spacing: 1px;
  text-transform: uppercase;
  background: #08638b;
  white-space: nowrap;
  color: white;
}

.rand-class-1107 .e-spot .rand-class-1107 .ShopNow,
.rand-class-1107 .e-spot .rand-class-1107 .ShopNow {
  color: #fff;
}

.rand-class-1107 .sign_up {
  margin: 0;
  font-family: arial;
  font-size: 12px;
  color: #fff;
}

.rand-class-1107 .sign_up .rand-class-1107 .ipt_box {
  border: 1px solid #cecece;
  height: 15px;
  margin: 5px 0 0;
  padding: 10px 0!important;
  width: 99%;
}

.rand-class-1107 .sign_up .rand-class-1107 .btn {
  margin-top: 5px;
  text-align: right;
}

.rand-class-1107 .productList {
  width: 100%;
  padding: 20px 0 20px 20px;
  background: #efefef;
  margin: 0;
}

.rand-class-1107 .productList .rand-class-1107 .e-spot {
  float: left;
  width: 94%;
  margin: 0 0 0.8em 0;
}

.rand-class-1107 .productList .rand-class-1107 .e-spot:last-child {
  margin: 0;
}

@media (min-width:51em) {
  .rand-class-1107 .productList .rand-class-1107 .e-spot {
    width: 32%;
    margin: 0 0.8em 0 0;
  }
}