.rand-class-1107 .rand-class-7326,
.rand-class-1107 .footer-social {
  margin-top: 0;
}

.rand-class-1107 .rand-class-9861 .rand-class-1107 .countrySelector-header,
.rand-class-1107 .rand-class-9861 .rand-class-1107 .rand-class-4894 {
  font-size: 12.8px;
  font-size: 0.8rem;
  font-family: Helvetica, Arial, sans-serif;
  font-weight: 700;
  margin-bottom: .2em;
  text-transform: uppercase;
  color: #555;
  background: none;
}

.rand-class-1107 .rand-class-8488 .rand-class-1107 .rand-class-5555 {
  font-size: .75em;
}

.rand-class-1107 .rand-class-8488 .rand-class-1107 .rand-class-5555 {
  margin: 0;
}

.rand-class-1107 .rand-class-8488 .rand-class-1107 .rand-class-5236 {
  background: #b8b8b8;
}

.rand-class-1107 .rand-class-8488 .rand-class-1107 .rand-class-4791 {
  line-height: 0;
  padding-right: 0 !important;
  position: relative;
}

#footerSignUp.rand-class-1272 {
  color: #ffffff;
  background-color: #424242;
  background-image: none;
  position: absolute;
  top: 0;
  right: 0;
  font-size: 1.2em;
  text-transform: uppercase;
  vertical-align: top;
  width: auto;
  padding: 0.3em .05em;
  height: 2.2em;
  font-family: Helvetica, Arial, sans-serif;
  text-shadow: none;
  border-color: #000;
  font-weight: bold;
}

.rand-class-1107 .rand-class-8488 .rand-class-1107 .rand-class-9650 {
  width: 100%;
  font-size: 1em;
  border: 1px solid #424242;
  padding: 0 0.5em;
  -webkit-appearance: none;
  height: 2.6em;
}

.rand-class-1107 .footer-icons-sprite,
.rand-class-1107 .rand-class-7513,
.rand-class-1107 .rand-class-2895,
.rand-class-1107 .rand-class-3360,
.rand-class-1107 .rand-class-4016,
.rand-class-1107 .footer-icons-m-truste-logo,
.rand-class-1107 .rand-class-6808,
.rand-class-1107 .footer-icons-truste-logo,
.rand-class-1107 .rand-class-4693,
.rand-class-1107 .rand-class-3627,
.rand-class-1107 .trusteValidation-icon,
.rand-class-1107 .footer-icons-bk,
.rand-class-1107 .footer-icons-instagram,
.rand-class-1107 .footer-icons-lenovoblog,
.rand-class-1107 .footer-icons-lenovoteam,
.rand-class-1107 .footer-icons-linkedin,
.rand-class-1107 .footer-icons-picasa {
  background-image: url('/ISS_Static/WW/css/themes/owv3/images/footer-icons.png?v2');
  background-repeat: no-repeat;
}

.rand-class-1107 .rand-class-7513 {
  background-position: -61px 0;
}

.rand-class-1107 .footer-icons-facebook:hover,
.rand-class-1107 .rand-class-7513 .facebook-hover {
  background-position: -61px -38px;
}

.rand-class-1107 .rand-class-2895 {
  background-position: -61px -76px;
}

.rand-class-1107 .footer-icons-flickr:hover,
.rand-class-1107 .rand-class-2895 .flickr-hover {
  background-position: -61px -114px;
}

.rand-class-1107 .rand-class-3360 {
  background-position: -61px -152px;
}

.rand-class-1107 .footer-icons-googlePlus:hover,
.rand-class-1107 .rand-class-3360 .googlePlus-hover {
  background-position: -61px -190px;
}

.rand-class-1107 .rand-class-4016 {
  background-position: -61px -228px;
}

.rand-class-1107 .footer-icons-lenovoForums:hover,
.rand-class-1107 .rand-class-4016 .lenovoForums-hover {
  background-position: -61px -266px;
}

.rand-class-1107 .footer-icons-m-truste-logo {
  background-position: -62px -304px;
}

.rand-class-1107 .footer-icons-m-truste-logo:hover,
.rand-class-1107 .footer-icons-m-truste-logo .m-truste-logo-hover {
  background-position: -62px -344px;
}

.rand-class-1107 .rand-class-6808 {
  background-position: -61px -384px;
}

.rand-class-1107 .footer-icons-pinterest:hover,
.rand-class-1107 .rand-class-6808 .pinterest-hover {
  background-position: -61px -422px;
}

.rand-class-1107 .footer-icons-truste-logo,
.rand-class-1107 .trusteValidation-icon {
  background-position: 0 -460px;
}

.rand-class-1107 .footer-icons-truste-logo:hover,
.rand-class-1107 .trusteValidation-icon:hover,
.rand-class-1107 .footer-icons-truste-logo .truste-logo-hover {
  background-position: 0 -495px;
}

.rand-class-1107 .rand-class-4693 {
  background-position: -61px -530px;
}

.rand-class-1107 .footer-icons-twitter:hover,
.rand-class-1107 .rand-class-4693 .twitter-hover {
  background-position: -61px -568px;
}

.rand-class-1107 .rand-class-3627 {
  background-position: -61px -606px;
}

.rand-class-1107 .footer-icons-youtube:hover,
.rand-class-1107 .rand-class-3627 .youtube-hover {
  background-position: -61px -644px;
}

.rand-class-1107 .footer-icons-bk {
  background-position: -61px -910px;
}

.rand-class-1107 .footer-icons-bk:hover,
.rand-class-1107 .footer-icons-bk .bk-hover {
  background-position: -61px -948px;
}

.rand-class-1107 .footer-icons-instagram {
  background-position: -61px -682px;
}

.rand-class-1107 .footer-icons-instagram:hover,
.rand-class-1107 .footer-icons-instagram .instagram-hover {
  background-position: -61px -720px;
}

.rand-class-1107 .footer-icons-lenovoblog {
  background-position: -61px -986px;
}

.rand-class-1107 .footer-icons-lenovoblog:hover,
.rand-class-1107 .footer-icons-lenovoblog .lenovoblog-hover {
  background-position: -61px -1024px;
}

.rand-class-1107 .footer-icons-lenovoteam {
  background-position: -61px -1062px;
}

.rand-class-1107 .footer-icons-lenovoteam:hover,
.rand-class-1107 .footer-icons-lenovoteam .lenovoteam-hover {
  background-position: -61px -1100px;
}

.rand-class-1107 .footer-icons-linkedin {
  background-position: -61px -834px;
}

.rand-class-1107 .footer-icons-linkedin:hover,
.rand-class-1107 .footer-icons-linkedin .linkedin-hover {
  background-position: -61px -872px;
}

.rand-class-1107 .footer-icons-picasa {
  background-position: -61px -758px;
}

.rand-class-1107 .footer-icons-picasa:hover,
.rand-class-1107 .footer-icons-picasa .picasa-hover {
  background-position: -61px -796px;
}

.rand-class-1107 .new-social-icons-sprite,
.rand-class-1107 .new-social-icons-bk,
.rand-class-1107 .new-social-icons-instagram,
.rand-class-1107 .new-social-icons-lenovo-blog,
.rand-class-1107 .new-social-icons-lenovo-team,
.rand-class-1107 .new-social-icons-linkedin,
.rand-class-1107 .new-social-icons-picasa {
  background-image: url('/ISS_Static/WW/css/themes/owv3/images/footer-icons.png?v2');
  background-repeat: no-repeat;
}

.rand-class-1107 .new-social-icons-bk {
  background-position: 0 0;
}

.rand-class-1107 .new-social-icons-bk:hover,
.rand-class-1107 .new-social-icons-bk .bk-hover {
  background-position: 0 -38px;
}

.rand-class-1107 .new-social-icons-instagram {
  background-position: 0 -76px;
}

.rand-class-1107 .new-social-icons-instagram:hover,
.rand-class-1107 .new-social-icons-instagram .instagram-hover {
  background-position: 0 -114px;
}

.rand-class-1107 .new-social-icons-lenovo-blog {
  background-position: 0 -152px;
}

.rand-class-1107 .new-social-icons-lenovo-blog:hover,
.rand-class-1107 .new-social-icons-lenovo-blog .lenovo-blog-hover {
  background-position: 0 -190px;
}

.rand-class-1107 .new-social-icons-lenovo-team {
  background-position: 0 -228px;
}

.rand-class-1107 .new-social-icons-lenovo-team:hover,
.rand-class-1107 .new-social-icons-lenovo-team .lenovo-team-hover {
  background-position: 0 -266px;
}

.rand-class-1107 .new-social-icons-linkedin {
  background-position: 0 -304px;
}

.rand-class-1107 .new-social-icons-linkedin:hover,
.rand-class-1107 .new-social-icons-linkedin .linkedin-hover {
  background-position: 0 -342px;
}

.rand-class-1107 .new-social-icons-picasa {
  background-position: 0 -380px;
}

.rand-class-1107 .new-social-icons-picasa:hover,
.rand-class-1107 .new-social-icons-picasa .picasa-hover {
  background-position: 0 -418px;
}

.rand-class-1107 .rand-class-7469 {
  clear: none;
  margin: 1.5em 0 0 1.5em;
}

.rand-class-1107 .rand-class-7542 {
  display: block;
  height: 33px;
  width: 33px;
  line-height: 0;
}

.rand-class-1107 .rand-class-8752 {
  height: 33px;
}

.rand-class-1107 .rand-class-1974 .rand-class-1107 .rand-class-8488 .rand-class-1107 .countrySelector-wrapper {
  height: 31px;
  width: 22em;
}

.rand-class-1107 .rand-class-1974 .rand-class-1107 .rand-class-8488 .rand-class-1107 .countrySelector {
  font-size: 14.4px;
  font-size: 0.9rem;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  background: transparent;
  border: 0;
  border-radius: 0;
  color: #222222;
  margin: 0;
  padding: 0.4em 3.25em 0.4em 2.5em;
  width: 25em;
  height: 31px;
  font-family: Helvetica, Arial, sans-serif;
}

.rand-class-1107 .rand-class-1974 .rand-class-1107 .rand-class-8488 .rand-class-1107 .countrySelector:hover {
  cursor: pointer;
}

.rand-class-1107 .rand-class-1974 .rand-class-1107 .rand-class-8488 .rand-class-1107 .countrySelector {
  font-family: Helvetica, Arial, sans-serif;
}

div.countrySelector-flag {
  height: 1.85em;
  width: 1.85em;
  float: left;
  margin-bottom: -1.85em;
  background: url('/ISS_Static/WW/css/themes/owv3/images/Flag-Footer.png') no-repeat left center;
  overflow: hidden;
}

div.countrySelector-flag div.flag-DZ {
  background-position: 0px 0px;
}

div.countrySelector-flag div.flag-AO {
  background-position: -31px 0px;
}

div.countrySelector-flag div.flag-AR {
  background-position: -62px 0px;
}

div.countrySelector-flag div.flag-AU {
  background-position: -93px 0px;
}

div.countrySelector-flag div.flag-AT {
  background-position: -124px 0px;
}

div.countrySelector-flag div.flag-BH {
  background-position: -155px 0px;
}

div.countrySelector-flag div.flag-BD {
  background-position: -186px 0px;
}

div.countrySelector-flag div.flag-BE {
  background-position: -217px 0px;
}

div.countrySelector-flag div.flag-BE {
  background-position: -248px 0px;
}

div.countrySelector-flag div.flag-BJ {
  background-position: -279px 0px;
}

div.countrySelector-flag div.flag-BO {
  background-position: -310px 0px;
}

div.countrySelector-flag div.flag-BW {
  background-position: -341px 0px;
}

div.countrySelector-flag div.flag-BR {
  background-position: 0px -31px;
}

div.countrySelector-flag div.flag-BG {
  background-position: -31px -31px;
}

div.countrySelector-flag div.flag-BF {
  background-position: -62px -31px;
}

div.countrySelector-flag div.flag-BI {
  background-position: -93px -31px;
}

div.countrySelector-flag div.flag-CM {
  background-position: -124px -31px;
}

div.countrySelector-flag div.flag-CA {
  background-position: -155px -31px;
}

div.countrySelector-flag div.flag-CA {
  background-position: -186px -31px;
}

div.countrySelector-flag div.flag-CV {
  background-position: -217px -31px;
}

div.countrySelector-flag div.flag-CF {
  background-position: -248px -31px;
}

div.countrySelector-flag div.flag-TD {
  background-position: -279px -31px;
}

div.countrySelector-flag div.flag-CL {
  background-position: -310px -31px;
}

div.countrySelector-flag div.flag-CN {
  background-position: -341px -31px;
}

div.countrySelector-flag div.flag-CO {
  background-position: 0px -62px;
}

div.countrySelector-flag div.flag-KM {
  background-position: -31px -62px;
}

div.countrySelector-flag div.flag-CD {
  background-position: -62px -62px;
}

div.countrySelector-flag div.flag-CD {
  background-position: -93px -62px;
}

div.countrySelector-flag div.flag-CI {
  background-position: -124px -62px;
}

div.countrySelector-flag div.flag-HR {
  background-position: -155px -62px;
}

div.countrySelector-flag div.flag-CZ {
  background-position: -186px -62px;
}

div.countrySelector-flag div.flag-DK {
  background-position: -217px -62px;
}

div.countrySelector-flag div.flag-DE {
  background-position: -248px -62px;
}

div.countrySelector-flag div.flag-DJ {
  background-position: -279px -62px;
}

div.countrySelector-flag div.flag-EC {
  background-position: -310px -62px;
}

div.countrySelector-flag div.flag-EG {
  background-position: -341px -62px;
}

div.countrySelector-flag div.flag-GQ {
  background-position: 0px -93px;
}

div.countrySelector-flag div.flag-ER {
  background-position: -31px -93px;
}

div.countrySelector-flag div.flag-EE {
  background-position: -62px -93px;
}

div.countrySelector-flag div.flag-ET {
  background-position: -93px -93px;
}

div.countrySelector-flag div.flag-FI {
  background-position: -124px -93px;
}

div.countrySelector-flag div.flag-FR {
  background-position: -155px -93px;
}

div.countrySelector-flag div.flag-GA {
  background-position: -186px -93px;
}

div.countrySelector-flag div.flag-GM {
  background-position: -217px -93px;
}

div.countrySelector-flag div.flag-GH {
  background-position: -248px -93px;
}

div.countrySelector-flag div.flag-GR {
  background-position: -279px -93px;
}

div.countrySelector-flag div.flag-GN {
  background-position: -310px -93px;
}

div.countrySelector-flag div.flag-GW {
  background-position: -341px -93px;
}

div.countrySelector-flag div.flag-HK {
  background-position: 0px -124px;
}

div.countrySelector-flag div.flag-HK {
  background-position: -31px -124px;
}

div.countrySelector-flag div.flag-HU {
  background-position: -62px -124px;
}

div.countrySelector-flag div.flag-IN {
  background-position: -93px -124px;
}

div.countrySelector-flag div.flag-ID {
  background-position: -124px -124px;
}

div.countrySelector-flag div.flag-IE {
  background-position: -155px -124px;
}

div.countrySelector-flag div.flag-IL {
  background-position: -186px -124px;
}

div.countrySelector-flag div.flag-IT {
  background-position: -217px -124px;
}

div.countrySelector-flag div.flag-JP {
  background-position: -248px -124px;
}

div.countrySelector-flag div.flag-JO {
  background-position: -279px -124px;
}

div.countrySelector-flag div.flag-KZ {
  background-position: -310px -124px;
}

div.countrySelector-flag div.flag-KE {
  background-position: -341px -124px;
}

div.countrySelector-flag div.flag-KR {
  background-position: 0px -155px;
}

div.countrySelector-flag div.flag-KW {
  background-position: -31px -155px;
}

div.countrySelector-flag div.flag-LV {
  background-position: -62px -155px;
}

div.countrySelector-flag div.flag-LB {
  background-position: -93px -155px;
}

div.countrySelector-flag div.flag-LS {
  background-position: -124px -155px;
}

div.countrySelector-flag div.flag-LR {
  background-position: -155px -155px;
}

div.countrySelector-flag div.flag-LY {
  background-position: -186px -155px;
}

div.countrySelector-flag div.flag-LT {
  background-position: -217px -155px;
}

div.countrySelector-flag div.flag-MG {
  background-position: -248px -155px;
}

div.countrySelector-flag div.flag-MW {
  background-position: -279px -155px;
}

div.countrySelector-flag div.flag-MY {
  background-position: -310px -155px;
}

div.countrySelector-flag div.flag-ML {
  background-position: -341px -155px;
}

div.countrySelector-flag div.flag-MR {
  background-position: 0px -186px;
}

div.countrySelector-flag div.flag-MU {
  background-position: -31px -186px;
}

div.countrySelector-flag div.flag-MX {
  background-position: -62px -186px;
}

div.countrySelector-flag div.flag-MA {
  background-position: -93px -186px;
}

div.countrySelector-flag div.flag-MZ {
  background-position: -124px -186px;
}

div.countrySelector-flag div.flag-MM {
  background-position: -155px -186px;
}

div.countrySelector-flag div.flag-NA {
  background-position: -186px -186px;
}

div.countrySelector-flag div.flag-NL {
  background-position: -217px -186px;
}

div.countrySelector-flag div.flag-NZ {
  background-position: -248px -186px;
}

div.countrySelector-flag div.flag-NE {
  background-position: -279px -186px;
}

div.countrySelector-flag div.flag-NG {
  background-position: -310px -186px;
}

div.countrySelector-flag div.flag-NO {
  background-position: -341px -186px;
}

div.countrySelector-flag div.flag-OM {
  background-position: 0px -217px;
}

div.countrySelector-flag div.flag-PK {
  background-position: -31px -217px;
}

div.countrySelector-flag div.flag-PY {
  background-position: -62px -217px;
}

div.countrySelector-flag div.flag-PE {
  background-position: -93px -217px;
}

div.countrySelector-flag div.flag-PH {
  background-position: -124px -217px;
}

div.countrySelector-flag div.flag-PL {
  background-position: -155px -217px;
}

div.countrySelector-flag div.flag-PT {
  background-position: -186px -217px;
}

div.countrySelector-flag div.flag-QA {
  background-position: -217px -217px;
}

div.countrySelector-flag div.flag-RE {
  background-position: -248px -217px;
}

div.countrySelector-flag div.flag-RO {
  background-position: -279px -217px;
}

div.countrySelector-flag div.flag-RU {
  background-position: -310px -217px;
}

div.countrySelector-flag div.flag-RW {
  background-position: -341px -217px;
}

div.countrySelector-flag div.flag-SH {
  background-position: 0px -248px;
}

div.countrySelector-flag div.flag-ST {
  background-position: -31px -248px;
}

div.countrySelector-flag div.flag-SA {
  background-position: -62px -248px;
}

div.countrySelector-flag div.flag-SN {
  background-position: -93px -248px;
}

div.countrySelector-flag div.flag-RS {
  background-position: -124px -248px;
}

div.countrySelector-flag div.flag-SC {
  background-position: -155px -248px;
}

div.countrySelector-flag div.flag-SL {
  background-position: -186px -248px;
}

div.countrySelector-flag div.flag-SG {
  background-position: -217px -248px;
}

div.countrySelector-flag div.flag-SK {
  background-position: -248px -248px;
}

div.countrySelector-flag div.flag-SI {
  background-position: -279px -248px;
}

div.countrySelector-flag div.flag-SO {
  background-position: -310px -248px;
}

div.countrySelector-flag div.flag-ZA {
  background-position: -341px -248px;
}

div.countrySelector-flag div.flag-SS {
  background-position: 0px -279px;
}

div.countrySelector-flag div.flag-ES {
  background-position: -31px -279px;
}

div.countrySelector-flag div.flag-LK {
  background-position: -62px -279px;
}

div.countrySelector-flag div.flag-SD {
  background-position: -93px -279px;
}

div.countrySelector-flag div.flag-SZ {
  background-position: -124px -279px;
}

div.countrySelector-flag div.flag-SE {
  background-position: -155px -279px;
}

div.countrySelector-flag div.flag-CH {
  background-position: -186px -279px;
}

div.countrySelector-flag div.flag-CH {
  background-position: -217px -279px;
}

div.countrySelector-flag div.flag-TW {
  background-position: -248px -279px;
}

div.countrySelector-flag div.flag-TZ {
  background-position: -279px -279px;
}

div.countrySelector-flag div.flag-TH {
  background-position: -310px -279px;
}

div.countrySelector-flag div.flag-TG {
  background-position: -341px -279px;
}

div.countrySelector-flag div.flag-TN {
  background-position: 0px -310px;
}

div.countrySelector-flag div.flag-TR {
  background-position: -31px -310px;
}

div.countrySelector-flag div.flag-UG {
  background-position: -62px -310px;
}

div.countrySelector-flag div.flag-UA {
  background-position: -93px -310px;
}

div.countrySelector-flag div.flag-AE {
  background-position: -124px -310px;
}

div.countrySelector-flag div.flag-GB {
  background-position: -155px -310px;
}

div.countrySelector-flag div.flag-US {
  background-position: -186px -310px;
}

div.countrySelector-flag div.flag-UY {
  background-position: -217px -310px;
}

div.countrySelector-flag div.flag-VE {
  background-position: -248px -310px;
}

div.countrySelector-flag div.flag-VN {
  background-position: -279px -310px;
}

div.countrySelector-flag div.flag-EH {
  background-position: -310px -310px;
}

div.countrySelector-flag div.flag-ZM {
  background-position: -341px -310px;
}

div.countrySelector-flag div.flag-ZW {
  background-position: 0px -341px;
}

.rand-class-1107 .rand-class-9861 .rand-class-1107 .rand-class-6181 {
  -moz-box-shadow: none;
  -webkit-box-shadow: none;
  box-shadow: none;
  background: #BCBCBC;
  clear: left;
  padding: 2em 1.9em 2em 2em;
  position: relative;
}

.rand-class-1107 .rand-class-9861 .rand-class-1107 .rand-class-6181 {
  text-decoration: underline;
}

.rand-class-1107 .rand-class-9861 .rand-class-1107 .rand-class-9488 {
  font-size: 12.8px;
  font-size: 0.8rem;
  color: #414141;
  font-weight: 700;
  text-transform: uppercase;
  position: relative;
  letter-spacing: 0;
}

.rand-class-1107 .rand-class-9861 .rand-class-1107 .footer-navigation-links-title:hover {
  cursor: pointer;
}

.rand-class-1107 .rand-class-9861 .rand-class-1107 .footer-navigation-links-title::before,
.rand-class-1107 .rand-class-9861 .rand-class-1107 .footer-navigation-links-title:before {
  content: "";
  display: inline-block;
  color: #434343;
  width: 19px;
  margin-right: 0.5em;
  margin-left: -1.5em;
  font-size: 1.3em;
  top: 4px;
  height: 19px;
  background-size: 100%;
}

.rand-class-1107 .rand-class-9861 .rand-class-1107 .rand-class-9488 .footer-nav-list-open:before {
  background-image: url('/ISS_Static/WW/css/themes/owv3/images//minus.png?1427918492');
}

.rand-class-1107 .rand-class-9861 .rand-class-1107 .rand-class-9488 .footer-nav-list-collapsed:before {
  background-image: url('/ISS_Static/WW/css/themes/owv3/images/plus.png?1427918512');
}

/*IE TARGETING */

.rand-class-1107 .no-smil .rand-class-1107 .footer-navigation-links-title::before,
.rand-class-1107 .no-smil .rand-class-1107 .footer-navigation-links-title:before {
  margin-left: -1.15em;
}

.rand-class-1107 .rand-class-4148 {
  margin-bottom: 1em;
}

.rand-class-1107 .rand-class-4148 {
  line-height: 1.4;
}

.rand-class-1107 .rand-class-4148 {
  font-size: 12.8px;
  font-size: 0.8rem;
  color: #373737;
}

.rand-class-1107 .rand-class-9861 .rand-class-1107 .rand-class-5078 {
  font-size: 11.2px;
  font-size: 0.7rem;
  -moz-box-shadow: none;
  -webkit-box-shadow: none;
  box-shadow: none;
  background: #BCBCBC;
  color: #373737;
  padding: 0 5% 15px 5%;
}

.rand-class-1107 .rand-class-9861 .rand-class-1107 .rand-class-5078 {
  color: #373737;
}

.rand-class-1107 .rand-class-9861 .rand-class-1107 .rand-class-5078 .rand-class-1107 .rand-class-8141 {
  width: 100%;
  padding-top: 5px;
}

.rand-class-1107 .rand-class-8141,
.rand-class-1107 .rand-class-8141 .rand-class-1107 .rand-class-3908 {
  float: left;
}

div#truste.rand-class-8693 {
  margin: -5px 0 0 0;
  padding: 0;
  float: right;
  display: none;
}

div#truste.rand-class-8693 div#truste.rand-class-5004,
div#truste.rand-class-8693 div#truste.trust-CA,
div#truste.rand-class-8693 div#truste.trust-MX,
div#truste.rand-class-8693 div#truste.trust-CO {
  display: block;
}

div#truste.rand-class-8693 {
  display: block;
}

div#truste.rand-class-8693 .rand-class-1107 .footer-icons-truste-logo {
  width: 94px;
  height: 30px;
}

/*new style added for truste logo*/

div#truste.rand-class-8693 .rand-class-1107 .trusteValidation-icon {
  width: 94px;
  height: 30px;
}

div#truste.rand-class-8693 .rand-class-1107 .footer-icons-m-truste-logo {
  width: 32px;
  height: 35px;
}

div#truste.rand-class-8693,
div#truste.rand-class-8693,
div#truste.rand-class-8693 {
  margin-right: 0;
}

/* clears */

@media (min-width: 35em) {
  .rand-class-1107 .rand-class-8488 .rand-class-1107 .rand-class-7295,
  .rand-class-1107 .rand-class-8488 .rand-class-1107 .rand-class-7469 {
    float: left;
  }

  .rand-class-1107 .rand-class-8488 .rand-class-1107 .footer-navigation-countrySelector {
    float: right;
  }

  .rand-class-1107 .rand-class-1974 .rand-class-1107 .countrySelector-wrapper {
    margin: 0;
  }

  .rand-class-1107 .rand-class-8488 .rand-class-1107 .rand-class-8620 {
    margin-top: 0;
    float: left;
    width: 100%;
  }

  .rand-class-1107 .rand-class-8488 .rand-class-1107 .rand-class-4480 {
    width: 20%;
    margin-left: 5%;
    max-width: 11em;
  }

  .rand-class-1107 .rand-class-8488 .rand-class-1107 .rand-class-4480 {
    margin-left: 25px;
  }

  .rand-class-1107 .rand-class-8488 .rand-class-1107 .footer-navigation-column-5 {
    width: 15%;
    margin-left: 5%;
  }

  .rand-class-1107 .rand-class-8488 .rand-class-1107 .footer-navigation-column-5 {
    margin-left: 25px;
  }

  .rand-class-1107 .rand-class-8488 .rand-class-1107 .footer-navigation-column-6 {
    width: 12%;
    margin-left: 5%;
  }

  .rand-class-1107 .rand-class-8488 .rand-class-1107 .footer-navigation-column-6 {
    margin-left: 25px;
  }

  .rand-class-1107 .rand-class-8488 .rand-class-1107 .rand-class-4148 {
    display: inline-block;
    float: left;
    margin-top: 1.8em;
    margin-bottom: 0;
  }

  .rand-class-1107 .rand-class-8488 .rand-class-1107 .rand-class-4148 {
    margin-left: .2em;
  }

  .rand-class-1107 .rand-class-9861 .rand-class-1107 .rand-class-6181 {
    padding: 2em 1.9em 2em 2em;
  }

  .rand-class-1107 .rand-class-8488 .rand-class-1107 .footer-navigation-links-title:before {
    position: relative;
  }

  .rand-class-1107 .rand-class-9861 .rand-class-1107 .rand-class-8488,
  ,
  .rand-class-1107 .rand-class-8488 .rand-class-1107 .rand-class-8620,
  .rand-class-1107 .rand-class-8488 .rand-class-1107 .rand-class-8141,
  .rand-class-1107 .rand-class-8488 .rand-class-1107 .rand-class-7928 {
    *zoom: 1;
  }

  .rand-class-1107 .rand-class-9861 .rand-class-1107 .pageWrapper:after,
  ,
  .rand-class-1107 .rand-class-8488 .rand-class-1107 .rand-class-8620,
  .rand-class-1107 .rand-class-8488 .rand-class-1107 .footer-bottomBar-wrapper:after,
  .rand-class-1107 .rand-class-8488 .rand-class-1107 .footer-navigation-header:after {
    content: "";
    display: table;
    clear: both;
  }
}

@media (max-width: 35em) {
  .rand-class-1107 .rand-class-7295 {
    margin-left: 1em;
    width: 90%;
  }

  .rand-class-1107 .rand-class-7469,
  .rand-class-1107 .footer-navigation-countrySelector {
    margin: 1em auto;
    width: 90%;
  }

  .rand-class-1107 .rand-class-7326,
  .rand-class-1107 .footer-social {
    margin: 0;
  }

  .rand-class-1107 .rand-class-1974 .rand-class-1107 .countrySelector-wrapper {
    width: 100%;
    margin: 0;
  }

  .rand-class-1107 .rand-class-1974 .rand-class-1107 .countrySelector {
    width: 40em;
  }

  .rand-class-1107 .rand-class-8620 {
    margin: 0;
  }

  .rand-class-1107 .rand-class-9861 .rand-class-1107 .rand-class-6181 {
    padding: 0;
  }

  .rand-class-1107 .rand-class-9488 {
    font-size: 1.1em;
  }

  .rand-class-1107 .rand-class-4148 {
    width: 100%;
    margin: 0 0 0 0;
    padding: 3% 5% 3% 9%;
    border-bottom: 1px solid #000;
  }

  .rand-class-1107 .footer-navigation-links-list:first-child {
    border-top: 1px solid #000;
  }

  .rand-class-1107 .footer-navigation-links-title:before {
    position: relative;
  }

  .rand-class-1107 .rand-class-9488 .footer-nav-list-open:before {
    line-height: .9em;
    top: 3px;
    font-size: .8em;
  }

  .rand-class-1107 .rand-class-9488 .footer-nav-list-collapsed:before {
    line-height: 1em;
    top: 3px;
    font-size: .8em;
  }

  .rand-class-1107 .no-smil .rand-class-1107 .rand-class-4148 {
    padding-left: 11%;
  }

  .rand-class-1107 .rand-class-9861 .rand-class-1107 .rand-class-5078 {
    padding: 2% 5%;
    margin-top: 0;
  }

  .rand-class-1107 .rand-class-7928 {
    padding-top: 1em;
  }
}

@media (max-width: 62em) and (min-width: 37em) {
  .rand-class-1107 .rand-class-7469 {
    clear: left;
    margin: 1.1em 0 0 0;
  }
}

@media (max-width: 37em) and (min-width: 35em) {
  .rand-class-1107 .rand-class-7469 {
    clear: left;
    margin: 1.1em 0 0 0;
  }

  .rand-class-1107 .footer-navigation-column-5,
  .rand-class-1107 .footer-navigation-column-6 {
    width: 26%;
    margin-left: 6%;
  }

  .rand-class-1107 .footer-navigation-column-5,
  .rand-class-1107 .footer-navigation-column-5,
  .rand-class-1107 .footer-navigation-column-6,
  .rand-class-1107 .footer-navigation-column-6 {
    margin-left: 25px;
  }

  .rand-class-1107 .footer-navigation-column-5 li.footer-navigation-links-list:nth-child(4),
  .rand-class-1107 .footer-navigation-column-6 li.footer-navigation-links-list:nth-child(4) {
    clear: left;
  }
}

@media (max-width: 20em) {
  .rand-class-1107 .rand-class-8752 {
    margin-right: -2px;
  }
}

@media (max-width: 23em) {
  .rand-class-1107 .rand-class-8752 {
    margin-bottom: 5px;
  }

  .rand-class-1107 .footer-navigation-countrySelector {
    margin: 2.5em auto 1em auto;
  }
}

@media (max-width: 62em) and (min-width: 37.5em) {
  .rand-class-1107 .footer-navigation-countrySelector {
    margin: -3.4em 0 0 0;
  }
}

@media (max-width: 45em) and (min-width: 35em) {
  .rand-class-1107 .footer-navigation-countrySelector {
    float: left;
    clear: left;
    margin: .80em 0 0 0;
  }
}

@media (max-width: 25em) {
  .rand-class-1107 .rand-class-1974 .rand-class-1107 .countrySelector {
    width: 30em;
  }

  .rand-class-1107 .rand-class-4148 {
    padding-left: 11%;
  }

  .rand-class-1107 .no-smil .rand-class-1107 .rand-class-4148 {
    padding-left: 14%;
  }
}

@media (min-width: 50em) {
  .rand-class-1107 .rand-class-6181 {
    overflow: hidden;
    *zoom: 1;
    padding: 2em 5% 2em;
  }
}

@media (min-width: 70em) {
  /* line 13, ../sass/_footer-columns.scss */

  .rand-class-1107 .rand-class-8620 {
    margin-top: 0;
    float: left;
    width: 100%;
  }

  /* line 132, ../sass/_footer-columns.scss */

  .rand-class-1107 .lt-ie8 .rand-class-1107 .rand-class-4148 {
    width: 24.5%;
  }
}

@media (max-width: 32em) {
  .rand-class-1107 .rand-class-4148 {
    padding-left: 9%;
  }

  .rand-class-1107 .no-smil .rand-class-1107 .rand-class-4148 {
    padding-left: 12%;
  }
}

@media (max-width: 27em) {
  .rand-class-1107 .rand-class-4148 {
    padding-left: 10%;
  }

  .rand-class-1107 .no-smil .rand-class-1107 .rand-class-4148 {
    padding-left: 13%;
  }
}

@media (max-width: 22em) {
  .rand-class-1107 .rand-class-4148 {
    padding-left: 12%;
  }

  .rand-class-1107 .no-smil .rand-class-1107 .rand-class-4148 {
    padding-left: 15%;
  }
}

@media (max-width: 75em) and (min-width: 35em) {
  .rand-class-1107 .footer-navigation-links-list:nth-child(3) {
    clear: none;
  }
}

@media (max-width: 55em) and (min-width: 35em) {
  .rand-class-1107 .rand-class-4480 {
    width: 40%;
    margin-left: 10%;
  }

  .rand-class-1107 .rand-class-4480,
  .rand-class-1107 .rand-class-4480 {
    margin-left: 25px;
  }

  .rand-class-1107 .rand-class-4480 li.footer-navigation-links-list:nth-child(3) {
    clear: left;
  }
}

@media (max-width: 65em) and (min-width: 50em) {
  .rand-class-1107 .footer-navigation-column-5 {
    width: 25%;
    margin-left: 5%;
  }

  .rand-class-1107 .footer-navigation-column-5,
  .rand-class-1107 .footer-navigation-column-5 {
    margin-left: 25px;
  }

  .rand-class-1107 .footer-navigation-column-5 li.footer-navigation-links-list:nth-child(4) {
    clear: left;
  }
}

@media (max-width: 50em) and (min-width: 37em) {
  .rand-class-1107 .footer-navigation-column-6,
  .rand-class-1107 .footer-navigation-column-5 {
    width: 27%;
    margin-left: 5%;
  }

  .rand-class-1107 .footer-navigation-column-6,
  .rand-class-1107 .footer-navigation-column-6,
  .rand-class-1107 .footer-navigation-column-5,
  .rand-class-1107 .footer-navigation-column-5 {
    margin-left: 25px;
  }

  .rand-class-1107 .footer-navigation-column-5 li.footer-navigation-links-list:nth-child(4),
  .rand-class-1107 .footer-navigation-column-6 li.footer-navigation-links-list:nth-child(4) {
    clear: left;
  }
}

@media (max-width: 77em) and (min-width: 50em) {
  .rand-class-1107 .footer-navigation-column-6 {
    width: 25%;
    margin-left: 5%;
  }

  .rand-class-1107 .footer-navigation-column-6,
  .rand-class-1107 .footer-navigation-column-6 {
    margin-left: 25px;
  }

  .rand-class-1107 .footer-navigation-column-6 li.footer-navigation-links-list:nth-child(4) {
    clear: left;
  }
}

@media (min-width: 76.75em) {
  .rand-class-1107 .rand-class-9861 .rand-class-1107 .rand-class-5078 .rand-class-1107 .rand-class-8141 {
    width: 105.5em;
  }
}

@media (max-width: 23em) {
  .rand-class-1107 .rand-class-8141 {
    float: left;
  }

  .rand-class-1107 .rand-class-8141 {
    clear: left;
  }
}

@media (max-width: 40em) {
  .rand-class-1107 .rand-class-3908 {
    clear: left;
  }
}

@media (max-width: 55em) {
  .rand-class-1107 .rand-class-7326 {
    float: right;
    margin-top: -2.5em;
  }

  .rand-class-1107 .rand-class-7326 {
    float: right;
  }
}

.rand-class-1107 .rand-class-8488 .rand-class-1107 .rand-class-5555 {
  background: none !important;
}

.rand-class-1107 .rand-class-8488 .rand-class-1107 .rand-class-5236 {
  margin: 0;
  padding: 0 !important;
}

.rand-class-1107 .rand-class-8488 .rand-class-1107 .rand-class-7295 {
  width: 19em;
}

.rand-class-1107 .rand-class-8488 .rand-class-1107 .rand-class-5555 {
  margin-left: 0px;
}

.rand-class-1107 .rand-class-8488 .rand-class-1107 .rand-class-5555 {
  padding: 0;
}

.rand-class-1107 .rand-class-8488 .rand-class-1107 .rand-class-8752 {
  margin-right: 2px;
}

@media (min-width: 35em) {
  .rand-class-1107 .footer-navigation-column-3 {
    margin-left: 25px;
  }
}

@media (min-width: 35em) {
  .rand-class-1107 .footer-navigation-column-3 {
    width: 20%;
    margin-left: 5%;
    max-width: 11em;
  }
}

@media (min-width: 35em) {
  .rand-class-1107 .footer-navigation-column-2 {
    margin-left: 25px;
  }
}

@media (min-width: 35em) {
  .rand-class-1107 .footer-navigation-column-2 {
    width: 20%;
    margin-left: 5%;
    max-width: 11em;
  }
}

@media (min-width: 35em) {
  .rand-class-1107 .footer-navigation-column-1 {
    margin-left: 25px;
  }
}

@media (min-width: 35em) {
  .rand-class-1107 .footer-navigation-column-1 {
    width: 20%;
    margin-left: 5%;
    max-width: 11em;
  }
}